<table class="socios-table">
    <thead>
        <tr>
            <th>Beneficiario</th>
            <th style="white-space: normal; word-wrap: break-word;">descripcion</th>
            <th>fecha</th>
            <th>motivo</th>
            <th>Valor-Socio</th>
            <th>Total</th>
            <th>Evidencia</th>
            <!-- <th>Editar</th> -->
            {% if periodo_seleccionado.activo == True %}
            <th>Eliminar</th>
            {% endif %}
            <th>Detalles</th>
            <th>Editar Evidencia</th>
        </tr>
    </thead>
    <tbody>
        {% for ayuda in ayudas %}
        <tr>
            {% if ayuda.socio.user.first_name %}
                <td>{{ayuda.socio.user.first_name}}</td>
            {% else %}
                <td>OTRO</td>
            {% endif %}
            <td style="white-space: normal; word-wrap: break-word;">{{ayuda.descripcion}}</td>
            <td>{{ayuda.fecha}}</td>
            <td>{{ayuda.motivo}}</td>
            {% if ayuda.valorsocio|floatformat:2 == "0,00" %}
                <td>Voluntario</td>
            {% else %}
                <td>{{ ayuda.valorsocio }}</td>
            {% endif %}
            <td>{{ayuda.total}}</td>
            <td>

                {% if ayuda.evidencia %}
                <a href="{{ ayuda.evidencia.url }}" target="_blank">
                    <i style="font-size: xx-large;" class="far fa-file-pdf"></i>
                </a>
                {% else %}
                Sin evidencia
                {% endif %}

            </td>

            <!--{% if proveedor.estado == False %}
            <td>Desabilitado</td>
            {% else %}
            <td>Habilitado</td>

            {% endif %}-->
         
                <!--<button class="edit-btn">Editar</button>
                <button class="delete-btn"><a href="deleteProveedor/{{proveedor.id}}">Eliminar</a></button>-->

                <!-- <a style="text-decoration: none;" class="edit-btn"
                    href="/formeditarayuda/{{ayuda.id}}">Editar</a> -->

                <!--<a class="delete-btn" href="/deleteProveedor/{{proveedor.id}}">Eliminar</a>-->

            {% if periodo_seleccionado.activo == True %}
            <td>
                <a style="text-decoration: none;" class="delete-btn" href="#"
                    onclick="eliminarMotivo('{{ayuda.id}}', '/eliminarayuda/', 'Ayuda economica')">Eliminar</a>
            </td>
            {% endif %}
            <td>
                <a style="text-decoration: none;" class="delete-btn" href="/detalleayuda/{{ayuda.id}}">Detalles Ayuda</a>
            </td>
            <!--<td>{{proveedor.id}}</td>-->
        </tr>
        {% endfor %}
        <!-- Agrega más filas con información de socios aquí -->
    </tbody>
</table>
