{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .pagination-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .botones_arriba {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 10px;
            flex-flow: row wrap;
            border: 1px solid rgb(187, 189, 186);
            width: 100%;
            padding: 20px;
            box-shadow: 0px 4px 8px rgb(134, 134, 134);
            margin: 5px;
            border-radius: 1%;
            background-color: #34b234;
        }

        .image-header {
            margin-bottom: 20px;
            background-color: #34b234;
            width: 100%;
            margin: auto;
            text-align: center;
            margin-bottom: 5px;
            /* border-color: #0c0b0b;
      border-radius: 2%;
      box-shadow: 0px 4px 8px rgb(134, 134, 134); */
        }

        h3 {
            font-weight: bold;
            color: white;
        }

        table {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="content-menu">
        <div class="socios-content">
            <div class="botones-sup">
                <div class="botones_arriba">
                    <div class="header">
                        <h3>Detalles de aportaciones de ayudas económicas</b></h3>
                        <a href="/verayudas/"> <button class="add-socio-btn"> Atras</button></a>
                        <a href="#" id="abrirModal">
                            <button class="add-socio-btn">Registrar aportación externa</button>
                        </a>
                        <a href="/obtener_ayudas_externas/{{detalle_id}}/"> <button class="add-socio-btn"> Aportaciones
                                externas</button></a>
                    </div>
                    <div style="display: inline-flex; justify-content: end; width: max-content;">
                        <div class="search-form">

                            <select id="criterio" name="criterio">
                                <option value="nombres">Nombre</option>
                                <option value="apellidos">Apellido</option>
                            </select>
                            <input type="text" id="buscador_input" name="valor" placeholder="Buscar socio...">
                            <!-- <button type="submit">Buscar</button> -->

                        </div>
                    </div>

                    <table class="socios-table">
                        <thead>
                            <tr>
                                <th scope="col">Ayuda</th>
                                <th scope="col">Valor a pagar</th>
                                <th scope="col">Evidencia</th>
                                <th scope="col">Cancelado</th>
                                <th scope="col">Socio</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Registrar</th>
                                <th scope="col">Evidencia</th>
                            </tr>
                        </thead>
                        <tbody id="socios-body">
                            {% for detalle in detalles %}
                            <tr>
                                <td>{{ detalle.ayuda.motivo }}</td>
                                <!-- <td>{{ detalle.valor}}</td> -->
                                {% if detalle.valor|floatformat:2 == "0,00" %}
                                <td>Voluntario</td>
                                {% else %}
                                <td>{{ detalle.valor }}</td>
                                {% endif %}
                                <td>

                                    {% if detalle.evidencia %}
                                    <a href="{{ cuota.evidencia.url }}" target="_blank">
                                        <i style="font-size: xx-large;" class="far fa-file-pdf"></i>
                                    </a>
                                    {% else %}
                                    Sin evidencia
                                    {% endif %}

                                </td>

                                <td>
                                    {% if detalle.cancelado %}
                                    <button class="green-button">
                                        Cancelado
                                    </button>
                                    {% else %}
                                    <button class="red-button">
                                        Pendiente
                                    </button>
                                    {% endif %}
                                </td>

                                <td>{{ detalle.socio.user.first_name }} {{ detalle.socio.user.last_name }}</td>
                                <td>{{ detalle.fecha }}</td>
                                <td>
                                    {% if detalle.cancelado == False %}
                                    <button class="edit-btn" data-detalle-id="{{ detalle.id }}"
                                        data-socio-nombre="{{ detalle.ayuda.socio.user.first_name }}"
                                        data-cancelado="{{ detalle.cancelado }}" data-toggle="modal"
                                        data-target="#exampleModal">
                                        Registrar pago
                                    </button>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if detalle.cancelado %}

                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="pagination-container">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if detalles.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Primero">
                                Primero
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ detalles.previous_page_number }}" aria-label="Anterior">
                                Anterior
                            </a>
                        </li>
                        {% endif %}
                        <li class="pagination-item active">
                            <span style="border-radius: 5px;" class="page-link">{{ detalles.number }}</span>
                        </li>
                        {% if detalles.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ detalles.next_page_number }}" aria-label="Siguiente">
                                Siguiente
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ detalles.paginator.num_pages }}" aria-label="Último">
                                Último
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>


        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese aportación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="aportacionForm" method="post">
                            {% csrf_token %}
                            <label class="form-label" for="valor">Valor de Aportación:</label>
                            <input class="form-control" type="number" step="any" id="valor" name="valor" required>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="guardarAportacion" type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModalexternal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese aportación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="aportacionForm" method="post">
                            {% csrf_token %}
                            <input hidden class="form-control" type="text" id="detalle_id" name="detalle_id"
                                value="{{detalle_id}}">

                            <div class="mb-3">
                                <label class="form-label" for="nombre_aportador">Nombre del Aportador:</label>
                                <input class="form-control" type="text" id="nombre_aportador" name="nombre_aportador"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="cedula_aportador">Cédula del Aportador:</label>
                                <input maxlength="10" class="form-control" type="text" id="cedula_aportador"
                                    name="cedula_aportador" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="valor1">Valor de Aportación:</label>
                                <input class="form-control" type="number" step="any" id="valor1" name="valor1" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="fecha">Fecha de Aportación:</label>
                                <input class="form-control" type="date" id="fecha" name="fecha" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="guardarAportacionn" type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>

        $(document).ready(function () {
            $("#buscador_input").on("input", function () {
                var query = $(this).val();
                var criterio = document.getElementById('criterio').value;
                var detalle_id = '{{detalle_id}}';
                console.log(criterio);
                console.log(query);
                $.ajax({
                    url: '/buscar_detalle/' + detalle_id,
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        query: query,
                        criterio: criterio
                    },
                    success: function (data) {
                        $("#socios-body").html(data.rendered_table);
                    }
                });
            });

            $("#criterio").on("change", function () {
                var criterio = $(this).val();
                var detalle_id = '{{detalle_id}}';

                $.ajax({
                    url: '/buscar_detalle/' + detalle_id,
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        query: "",  // Deja el campo de búsqueda vacío al cambiar el criterio
                        criterio: criterio
                    },
                    success: function (data) {
                        $("#socios-body").html(data.rendered_table);
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#filtro-nombre-socio').on('keyup', function () {
                var filtro = $(this).val().toLowerCase();
                $('.socios-table tbody tr').each(function () {
                    var nombreSocio = $(this).find('td:eq(4)').text().toLowerCase();
                    if (nombreSocio.includes(filtro)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
    <script>

        $(document).ready(function () {
            $('.edit-btn').click(function () {
                confirmarregistro(this); // Llama a la función confirmarregistro pasando el botón como argumento
            });
        });

        function confirmarregistro(button) {
            var detalle_id = $(button).data('detalle-id');
            var socioNombre = $(button).data('socio-nombre');
            var cancelado = $(button).data('cancelado');

            // Abre el modal
            $('#exampleModal').modal('show');

            $('#guardarAportacion').click(function (e) {
                e.preventDefault(); // Evita que el formulario se envíe y el modal se cierre automáticamente

                var valor = $('#valor').val();

                Swal.fire({
                    title: '¿Deseas guardar la aportación?',
                    text: 'Estás a punto de registrar el pago de este préstamo al soci@ ' + socioNombre,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Guardar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realiza la llamada AJAX para guardar la aportación
                        $.ajax({
                            type: 'POST',
                            url: '/guardar_aportacion/' + detalle_id + '/',
                            data: {
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                valor: valor
                            },
                            success: function (data) {
                                if (data.success) {
                                    // Cierra el modal después de guardar la aportación
                                    Swal.fire({
                                        title: 'Exitó',
                                        text: 'Aportación realizada con exito',
                                        icon: 'success'
                                    });
                                    $('#exampleModal').modal('hide');
                                } else {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'Ups, ocurrió un error en la transacción',
                                        icon: 'error'
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    title: 'Error',
                                    text: 'Ups, ocurrió un error en la transacción',
                                    icon: 'error'
                                });
                            }
                        });
                    }
                });
            });
        }
    </script>
    <script>
        document.getElementById('abrirModal').addEventListener('click', function () {
            $('#exampleModalexternal').modal('show');
        });
    </script>
    <script>
        document.getElementById('guardarAportacionn').addEventListener('click', function () {
            var nombre = $('#nombre_aportador').val();
            var cedula = $('#cedula_aportador').val();
            var valor1 = $('#valor1').val();
            var fecha = $('#fecha').val();
            var detalle_id = $('#detalle_id').val();

            Swal.fire({
                title: 'Confirmación',
                text: '¿Estás seguro de que deseas guardar la aportación?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/registrar_aportacion_externa/' + detalle_id + '/',
                        data: {
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            nombre_aportador: nombre,
                            cedula_aportador: cedula,
                            valor1: valor1,
                            fecha: fecha,
                            detalle_id: detalle_id
                        },
                        success: function (data) {
                            if (data.message) {
                                Swal.fire({
                                    title: 'Éxito',
                                    text: data.message,
                                    icon: 'success'
                                }).then(() => {
                                    $('#exampleModalexternal').modal('hide');
                                    location.reload();
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error',
                                    text: 'Ups, ocurrió un error en la transacción',
                                    icon: 'error'
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                title: 'Error',
                                text: 'Ups, ocurrió un error en la transacción',
                                icon: 'error'
                            });
                        }
                    });
                }
            });
        });
    </script>

    {% endblock %}
</body>