{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
</style>

<div class="content-menu" > 

    <div class="header">
        <h1>Socios</h1>
    </div>
    <div class="socios-content ">
        <div class="botones-sup">
            <a href="{% url 'agg_socios' %}"> <button class="add-socio-btn"> Agregar Nuevo Socio</button></a>
            <form method="GET" action="{% url 'buscar_socios' %}">
                <div class="search-form">

                    <select id="criterio" name="criterio">
                        <option value="nombres">Nombre</option>
                        <option value="apellidos">Apellido</option>
                        <option value="categoria">Categoría</option>
                        <option value="facultad">Facultad</option>
                        <option value="cedula">Cédula</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                    <input type="text" id="valor" name="valor">
                    <a href="/buscar_socios"><button type="submit">Buscar</button></a>

                </div>


            </form>
            <a style="margin-left: 15px; margin-top: 2px;" onclick="confirmarEnvioCorreoTodos()"> 
                <button class="add-socio-btn">Enviar correo a todos</button>
            </a>
        </div>


        <table class="socios-table">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Correo Electrónico</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Enviar Correo</th>
                </tr>
            </thead>
            <tbody>
                {% for socio in socios %}
                <tr>
                    <td>{{ socio.cedula }}</td>
                    <td>{{ socio.user.first_name }}</td>
                    <td>{{ socio.user.last_name }}</td>
                    <td>{{ socio.direccion_domiciliaria }}</td>
                    <td>{{ socio.numero_telefonico }}</td>
                    <td>{{ socio.user.email }}</td>
                    <td>{{ socio.categoria }}</td>
                    <td>
                        {% if socio.user.is_active %}
                        <button class="green-button" onclick="confirmarEliminacion('{{ socio.id }}','{{ socio.user.first_name }}','{{ socio.user.last_name }}','{{ socio.user.is_active }}')">
                            <span class="visto-icon"></span>
                            Activo
                        </button>
                        {% else %}
                        <button class="red-button" onclick="confirmarEliminacion('{{ socio.id }}','{{ socio.user.first_name }}','{{ socio.user.last_name }}','{{ socio.user.is_active }}')">
                            <span class="no-visto-icon"></span> Inactivo
                        </button>
                        {% endif %}

                    </td>
                    <td>
                        <button class="edit-btn"
                            onclick="confirmarEdicion('{{ socio.id }}','{{ socio.user.first_name }}','{{ socio.user.last_name }}')">
                            Editar
                        </button>
                    </td>
                    <td>
                        <a onclick="confirmarEnvioCorreo('{{socio.id }}','{{ socio.user.first_name }}','{{ socio.user.last_name }}')" class="edit-btn"> Notificar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination-container">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if socios.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ socios.previous_page_number }}">anterior</a>
                        </li>
                    {% endif %}
                    <li class="pagination-item active">
                        <span style="border-radius: 5px;" class="page-link">{{ socios.number }}</span>
                    </li>
                    {% if socios.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ socios.next_page_number }}">siguiente</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </div>
    <!-- Resto del contenido de la página -->
</div>

<script>
    function confirmarEdicion(socioId, socioNombre, socioApellido) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Deseas editar al soci@ ' + socioNombre + ' ' + socioApellido,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            dangerMode: true,
        }).then((result) => {
            if (result.isConfirmed) {
                // El usuario ha confirmado la edición, redirigir a la página de edición
                window.location.href = '/editar_socio/' + socioId + '/';
            }
        });
    }
</script>

<script>
    function confirmarEliminacion(socioId, socioNombre, socioApellido,socioActivo) {

        var valor;
        
        if(socioActivo == 'True')
        {
            valor = 1;
            Swal.fire({
            title: '¿Estás seguro?',
            text: 'Dar de baja de Aduteq al soci@ ' + socioNombre + ' ' + socioApellido,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            dangerMode: true,
        }).then((result) => {
            if (result.isConfirmed) {
                // El usuario ha confirmado la edición, redirigir a la página de edición
                window.location.href = '/eliminar_socio/' + socioId + '/' + valor + '/';
                print(valor)
            }
        });

        }
        else{
            valor = 0;
            Swal.fire({
            title: '¿Estás seguro?',
            text: 'Habilitar al soci@ ' + socioNombre + ' ' + socioApellido,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            dangerMode: true,
        }).then((result) => {
            if (result.isConfirmed) {
                // El usuario ha confirmado la edición, redirigir a la página de edición
                window.location.href = '/eliminar_socio/' + socioId + '/' + valor + '/';
                print(valor)
            }
        });
        }

   


    }
</script>

<script>
    function confirmarEnvioCorreo(socioId, socioNombre, socioApellido) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Deseas enviar correo al soci@ ' + socioNombre + ' ' + socioApellido,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            dangerMode: true,
        }).then((result) => {
            if (result.isConfirmed) {
                // El usuario ha confirmado la edición, redirigir a la página de edición
                window.location.href = '/enviar_gastos/' + socioId + '/';
            }
        });
    }
</script>
<script>
    function confirmarEnvioCorreoTodos() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Deseas enviar correo a todos los soci@s',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            dangerMode: true,
        }).then((result) => {
            if (result.isConfirmed) {
                // Se confirma el envio de correo a todos los soci@s
                window.location.href = '/enviar_gastos_todos';
            }
        });
    }
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock %}