{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Agregar Socio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="content-menu" style="padding-top: 0%;">
        <div class="header">
            <h1>Agregar Socio</h1>
        </div>
        <div class="content">
            <div class="form-container">


                <form id="socio-form" action="/guardar_socio/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="first_name">Nombre:</label>
                    <input type="text" id="first_name" name="first_name" value="{{ socio.first_name }}" required>

                    <label for="last_name">Apellido:</label>
                    <input type="text" id="last_name" name="last_name" value="{{ socio.last_name }}" required>

                    <label for="cedula">Cedula:</label>
                    <input type="text" maxlength="10" id="cedula" name="cedula" value="{{ socio.cedula }}" required>

                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ socio.fecha_nacimiento}}"
                        >

                    <label for="lugar_nacimiento">Lugar de Nacimiento:</label>
                    <input type="text" id="lugar_nacimiento" name="lugar_nacimiento"
                        value="{{ socio.lugar_nacimiento }}" >



                    <label for="email">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" value="{{ usuario.email }}" required>

                    <label for="numero_telefonico">Teléfono:</label>
                    <input type="text" id="numero_telefonico" name="numero_telefonico"
                        value="{{ socio.numero_telefonico }}" >

                    <label for="numero_convencional">Teléfono Convencional:</label>
                    <input type="text" id="numero_convencional" name="numero_convencional"
                        value="{{ socio.numero_convencional }}">

                    <label for="direccion_domiciliaria">Dirección Domiciliaria:</label>
                    <input type="text" id="direccion_domiciliaria" name="direccion_domiciliaria"
                        value="{{ socio.direccion_domiciliaria }}" >

                    <label for="facultad">Facultad:</label>

                    <div style="display: inline-flex; width: 100%; left: 20px;">
                        <select id="facultad" name="facultad" required placeholder="Seleccione la facultad"
                            style="width:95%;">
                            <option value="" disabled selected>Seleccionar Facultad</option>
                            {% for facultad in facultades %}
                            <option value="{{ facultad.nombre_facu }}" {% if socio.facultad == facultad.nombre_facu %}selected{% endif %}>{{ facultad.nombre_facu }}</option>
                            {% endfor %}
                        </select>
                        <input style="width:5%; right  : 20px;" type="button" id="guardarFacultadBtn" value="+"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                    </div>


                    <label for="categoria">Categoría:</label>
                    <div style="display: inline-flex; width: 100%; left: 20px;">
                        <select id="categoria" name="categoria" required style="width:95%;">
                            <option value="" disabled selected>Seleccionar Categoría</option>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.nombre_cat }}" {% if socio.categoria == categoria.nombre_cat %}selected{% endif %}>{{ categoria.nombre_cat }}</option>
                            {% endfor %}
                        </select>
                        <input style="width:5%; right  : 20px;" type="button" id="guardarCategoriaBtn" value="+"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    </div>


                    <label for="dedicacion_academica">Dedicación Académica:</label>
                    <div style="display: inline-flex; width: 100%; left: 20px;">
                        <select id="dedicacion" name="dedicacion_academica" required style="width:100%;">
                            <option value="" disabled selected>Seleccionar Dedicación</option>
                            {% for dedicacion in dedicacionAcademica %}
                            <option value="{{ dedicacion.nombre_de }}" {% if socio.dedicacion_academica == dedicacion.nombre_de %}selected{% endif %}>{{ dedicacion.nombre_de }}</option>
                            {% endfor %}
                        </select>
                        <input style="width:5%; right  : 20px;" type="button" id="guardarDedicacionBtn" value="+"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    </div>

                    <label for="titulo">Título:</label>
                    <div style="display: inline-flex; width: 100%; left: 20px;">
                        <select id="titulo" name="titulo" required style="width:100%;">
                            <option value="" disabled selected>Seleccionar Título</option>
                            {% for titulo in titulos %}
                            <option value="{{ titulo.nombre_ti }}" {% if socio.titulo == titulo.nombre_ti %}selected{% endif %}>{{ titulo.nombre_ti }}</option>
                            {% endfor %}
                        </select>
                        <input style="width:5%; right  : 20px;" type="button" id="guardarTituloBtn" value="+"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                    </div>
                    

                    <label for="foto">Agregar foto de Perfil:</label>
                    {% get_media_prefix as media_prefix %}
                    <div class="generated-credentials">
                        <div class="custom-file">
                            <div class="upload-preview">
                                <div id="imagePreview">
                                    <img src="{{ media_prefix }}{{ socio.foto }}">
                                </div>
                            </div>
                            <input type="file" class="custom-file-input" id="foto" name="foto"
                                onchange="previewImage(event)">
                            <label class="custom-file-label" for="id_foto_perfil">Seleccionar imagen</label>
                        </div>
                    </div>

                    <div class="generated-credentials">

                        <label for="username" style="margin-left: 5px;">Nombre de Usuario:</label>
                        <input type="text" id="username" name="username" value="{{ usuario.username }}" required>
                        <label for="password" style="margin-left: 5px;">Contraseña:</label>

                        <div style="position: relative;">
                            <input type="password" id="password" name="password" value="{{ usuario.password }}"
                                required>
                            <span id="tgl_password" class="fas fa-eye-slash"
                                style="position: absolute; right: 20px;top: 25%; cursor: pointer;"></span>
                        </div>
                        <button type="button" id="generate-credentials" style="width: 50%; margin-bottom: 10px;">Generar
                            Credenciales</button>

                    </div>

                    <input type="hidden" id="aporte" name="aporte" value="13">

                    <input type="submit" value="Agregar Socio" style="width: 100%;">
                    <a href="/socios"> <input type="button" value="Cancelar"
                            style="width: 100%; background-color: red;"></a>

                </form>
                <script>
                    const passwordInput = document.getElementById("password");
                    const toggleIcon = document.getElementById("tgl_password");

                    toggleIcon.addEventListener("click", togglePasswordVisibility.bind(null, passwordInput, toggleIcon));


                    function togglePasswordVisibility(inputElement, iconElement) {
                        if (inputElement.type === "password") {
                            inputElement.type = "text";
                            iconElement.classList.remove("fa-eye-slash");
                            iconElement.classList.add("fa-eye");
                        } else {
                            inputElement.type = "password";
                            iconElement.classList.remove("fa-eye");
                            iconElement.classList.add("fa-eye-slash");
                        }
                    }
                </script>
                <!-- MODAL DE FACULTAD -->
                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" id="modal_cont">
                            <div class="modal-header" style="background-color: white">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                    Agregar nueva Facultad
                                </h1>
                            </div>
                            
                            <form action="">
                                <div class="modal-body">
                                    <label class="fw-bold" for="nom_facu">Nombre de la facultad:</label>
                                    <input class="form-control mb-2" type="text" name="nom_facu" id="nom_facu"
                                        placeholder="Ingrese el nombre de la facultad" required />
                                    <label class="fw-bold" for="descripcion">Descripción:</label>
                                    <textarea maxlength="70" class="form-control mb-2" name="descripcion_facu"
                                        id="descripcion_facu" rows="3" placeholder="Ingrese una descripcion"></textarea>
                                </div>
                                <div class="modal-footer" style="display: inline-block; width: 100%;">
                                    <button id="btnAgregarFacultad" class="btn btn-success"
                                        style="width: 45%;">Aceptar</button>
                                    <button style="width: 48%; background-color: red; right: 0px;" type="button"
                                        class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cerrar
                                    </button>
                                </div>
                            </form>

                            <div class="modal-header" style="background-color: white">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                    Lista de facultades
                                </h1>
                            </div>
                            <table id="tablaFacultad" style="margin: auto" class="socios-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Facultad</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for facultad in facultades %}
                                    <tr>
                                        <td>{{facultad.nombre_facu}}</td>
                                        <td>{{facultad.descripcion}}</td>
                                        <td>

                                            <!-- <button data-id="{{ facultad.id }}" id="eliminarBtnFacultad"
                                                class="delete-btn">Eliminar</button> -->

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- MODAL DE CATEGORIA -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" id="modal_cont2">
                            <div class="modal-header" style="background-color: white">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                    Agregar nueva categoria
                                </h1>
                            </div>
                            <div class="modal-body">
                                <label class="fw-bold" for="nom_cat">Nombre de Categoria:</label>
                                <input class="form-control mb-2" type="text" name="nom_cat" id="nom_cat"
                                    placeholder="Ingrese el nombre de la categoria" required />
                                <label class="fw-bold" for="descripcion">Descripción:</label>
                                <textarea maxlength="70" class="form-control mb-2" name="descripcion"
                                    id="descripcion_cat" rows="3" placeholder="Ingrese una descripcion"></textarea>
                            </div>
                            <div class="modal-footer" style="display: inline-block; width: 100%;">
                                <button id="btnAgregarCategoria" class="btn btn-success"
                                    style="width: 45%;">Aceptar</button>
                                <button style="width: 48%; background-color: red; right: 0px;" type="button"
                                    class="btn btn-secondary" data-bs-dismiss="modal">
                                    Cerrar
                                </button>
                            </div>
                            <div class="modal-header" style="background-color: white">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                    Lista de categorias
                                </h1>
                            </div>
                            <table id="tablaCategoria" style="margin: auto" class="socios-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Categorias</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for categoria in categorias %}
                                    <tr>
                                        <td>{{categoria.nombre_cat}}</td>
                                        <td>{{categoria.descripcion}}</td>
                                        <td>
                                            <!-- <button data-id="{{ categoria.id }}" id="eliminarBtnCategoria"
                                                class="delete-btn">Eliminar</button> -->
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- MODAL DE DEDICACION ACADEMICA -->
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div id="modal_cont3" class="modal-content">
                            <div class="modal-header" style="background-color: white">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                    Agregar nueva dedicacion academica
                                </h1>
                            </div>

                            <div class="modal-body">
                                <label class="fw-bold" for="nom_de">Tiempo:</label>
                                <input class="form-control mb-2" type="text" name="nom_de" id="nom_de"
                                    placeholder="Ingrese el tiempo dedicado del socio" required />
                                <label class="fw-bold" for="descripcion">Descripción:</label>
                                <textarea maxlength="70" class="form-control mb-2" name="descripcion"
                                    id="descripcion_de" rows="3" placeholder="Ingrese una descripcion"></textarea>
                            </div>
                            <div class="modal-footer" style="display: inline-block; width: 100%;">

                                <button id="btnAgregarDedicacion" class="btn btn-success"
                                    style="width: 45%;">Aceptar</button>
                                <button style="width: 48%; background-color: red; right: 0px;" type="button"
                                    class="btn btn-secondary" data-bs-dismiss="modal">
                                    Cerrar
                                </button>
                            </div>
                            <div class="modal-header" style="background-color: white">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                    Lista de dedicacion
                                </h1>
                            </div>
                            <table id="tablaDedicacion" style="margin: auto" class="socios-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Tiempo</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dedicacion in dedicacionAcademica %}
                                    <tr>
                                        <td>{{dedicacion.nombre_de}}</td>
                                        <td>{{dedicacion.descripcion}}</td>
                                        <td>
                                            <!-- <button data-id="{{ dedicacion.id }}" id="eliminarBtnDedicacion"
                                                class="delete-btn">Eliminar</button> -->
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- MODAL DE TITULOS -->
                <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" id="modal_cont4">
                            <div class="modal-header" style="background-color: white">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                    Agregar nuevo titulo
                                </h1>
                            </div>
                            <div class="modal-body">
                                <label class="fw-bold" for="nom_ti">Titulo:</label>
                                <input class="form-control mb-2" type="text" name="nom_ti" id="nom_ti"
                                    placeholder="Ingrese el nombre del titulo" required />
                                <label class="fw-bold" for="descripcion">Descripción:</label>
                                <textarea maxlength="70" class="form-control mb-2" name="descripcion"
                                    id="descripcion_ti" rows="3" placeholder="Ingrese una descripcion"></textarea>
                            </div>
                            <div class="modal-footer" style="display: inline-block; width: 100%;">
                                <button id="btnAgregarTitulo" class="btn btn-success"
                                    style="width: 45%;">Aceptar</button>
                                <button style="width: 48%; background-color: red; right: 0px;" type="button"
                                    class="btn btn-secondary" data-bs-dismiss="modal">
                                    Cerrar
                                </button>
                            </div>

                            <div class="modal-header" style="background-color: white">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                    Lista de Titulos
                                </h1>
                            </div>
                            <table id="tablaTitulo" style="margin: auto" class="socios-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Titulos</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for titulo in titulos %}
                                    <tr>
                                        <td>{{titulo.nombre_ti}}</td>
                                        <td>{{titulo.descripcion}}</td>
                                        <td>
                                            <!-- <button data-id="{{ titulo.id }}" id="eliminarBtnTitulo"
                                                class="delete-btn">Eliminar</button> -->
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


        $(document).ready(function () {
            // Obtener el valor del token CSRF de la cookie
            var csrftoken = getCookie('csrftoken');

            // Configurar CSRF token en todas las solicitudes AJAX
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#modal_cont4').on('click', '#btnAgregarTitulo', function () {
                const nom_ti = document.getElementById('nom_ti').value;
                const descripcion = document.getElementById('descripcion_ti').value;

                agregarTitulo(nom_ti, descripcion);
                nomtie.value = '';
                descripcion.value = '';
            });
            function agregarTitulo(nom_ti, descripcion) {

                $.ajax({
                    type: 'POST',
                    url: '{% url "agregar_titulo_socios" %}', // URL de la vista Django para eliminar el registro
                    data: { nom_ti: nom_ti, descripcion: descripcion },
                    success: function (response) {
                        var tablaTitulo = $('#tablaTitulo');
                        $('#tablaTitulo tbody tr').remove();
                        if (response.valor == 1) {
                            Swal.fire({
                                icon: response.icon,
                                title: response.title,
                                text: response.text
                            });
                        }

                        // Iterar sobre los datos actualizados y construir las filas de la tabla
                        for (var i = 0; i < response.titulos.length; i++) {
                            var titulo = response.titulos[i];
                            var newRow = '<tr>' +
                                '<td>' + titulo.nombre_ti + '</td>' +
                                '<td>' + titulo.descripcion + '</td>' +
                                '<td>' +
                            '</td>' +
                                '</tr>';
                            tablaTitulo.append(newRow);
                        }

                        var selectTitulos = $('#titulo');
                        selectTitulos.empty(); // Limpiar las opciones existentes

                        // Agregar las nuevas opciones al select
                        for (var i = 0; i < response.titulos.length; i++) {
                            var titulo = response.titulos[i];
                            selectTitulos.append($('<option>', {
                                value: titulo.id,
                                text: titulo.nombre_ti
                            }));
                        }
                    },
                    error: function () {
                        console.log('Error al agg el registro.');
                    }
                });
            }

            $('#modal_cont3').on('click', '#btnAgregarDedicacion', function () {
                const nom_de = document.getElementById('nom_de').value;
                const descripcion = document.getElementById('descripcion_de').value;

                agregarDedicacion(nom_de, descripcion);
                nom_de.value = '';
                descripcion.value = '';
            });
            function agregarDedicacion(nom_de, descripcion) {

                $.ajax({
                    type: 'POST',
                    url: '{% url "agregar_dedicacion_socios" %}', // URL de la vista Django para eliminar el registro
                    data: { nom_de: nom_de, descripcion: descripcion },
                    success: function (response) {
                        var tablaDedicacion = $('#tablaDedicacion');
                        $('#tablaDedicacion tbody tr').remove();
                        if (response.valor == 1) {
                            Swal.fire({
                                icon: response.icon,
                                title: response.title,
                                text: response.text
                            });
                        }

                        // Iterar sobre los datos actualizados y construir las filas de la tabla
                        for (var i = 0; i < response.dedicacionAcademica.length; i++) {
                            var dedicacion = response.dedicacionAcademica[i];
                            var newRow = '<tr>' +
                                '<td>' + dedicacion.nombre_de + '</td>' +
                                '<td>' + dedicacion.descripcion + '</td>' +
                                '<td>' +
                                
                            '</td>' +
                                '</tr>';
                            tablaDedicacion.append(newRow);
                        }

                        var selectDedicacion = $('#dedicacion');
                        selectDedicacion.empty(); // Limpiar las opciones existentes

                        // Agregar las nuevas opciones al select
                        for (var i = 0; i < response.dedicacionAcademica.length; i++) {
                            var dedicacion = response.dedicacionAcademica[i];
                            selectDedicacion.append($('<option>', {
                                value: dedicacion.id,
                                text: dedicacion.nombre_de
                            }));
                        }

                    },
                    error: function () {
                        console.log('Error al agg el registro.');
                    }
                });
            }

            $('#modal_cont').on('click', '#btnAgregarFacultad', function () {
                const nom_facu = document.getElementById('nom_facu').value;
                const descripcion = document.getElementById('descripcion_facu').value;

                agregarFacultad(nom_facu, descripcion);
                nom_facu.value = '';
                descripcion.value = '';
            });
            function agregarFacultad(nom_facu, descripcion) {
                console.log(nom_facu)
                $.ajax({
                    type: 'POST',
                    url: '{% url "agregar_facultad_socios" %}', // URL de la vista Django para eliminar el registro
                    data: { nom_facu: nom_facu, descripcion: descripcion },
                    success: function (response) {
                        var tablaFacultad = $('#tablaFacultad');
                        $('#tablaFacultad tbody tr').remove();
                        if (response.valor == 1) {
                            Swal.fire({
                                icon: response.icon,
                                title: response.title,
                                text: response.text
                            });
                        }

                        // Iterar sobre los datos actualizados y construir las filas de la tabla
                        for (var i = 0; i < response.facultades.length; i++) {
                            var facultad = response.facultades[i];
                            var newRow = '<tr>' +
                                '<td>' + facultad.nombre_facu + '</td>' +
                                '<td>' + facultad.descripcion + '</td>' +
                                '<td>' +
                              
                            '</td>' +
                                '</tr>';
                            tablaFacultad.append(newRow);
                        }

                        var selectFacultad = $('#facultad');
                        selectFacultad.empty(); // Limpiar las opciones existentes

                        // Agregar las nuevas opciones al select
                        for (var i = 0; i < response.facultades.length; i++) {
                            var facultad = response.facultades[i];
                            selectFacultad.append($('<option>', {
                                value: facultad.id,
                                text: facultad.nombre_facu
                            }));
                        }
                    },
                    error: function () {
                        console.log('Error al agg el registro.');
                    }
                });
            }

            $('#modal_cont2').on('click', '#btnAgregarCategoria', function () {
                const nom_cat = document.getElementById('nom_cat').value;
                const descripcion = document.getElementById('descripcion_cat').value;

                agregarCategoria(nom_cat, descripcion);
                nom_cat.value = '';
                descripcion.value = '';
            });
            function agregarCategoria(nom_cat, descripcion) {

                $.ajax({
                    type: 'POST',
                    url: '{% url "agregar_categoria_socios" %}', // URL de la vista Django para eliminar el registro
                    data: { nom_cat: nom_cat, descripcion: descripcion },
                    success: function (response) {
                        var tablaCategoria = $('#tablaCategoria');
                        $('#tablaCategoria tbody tr').remove();
                        if (response.valor == 1) {
                            Swal.fire({
                                icon: response.icon,
                                title: response.title,
                                text: response.text
                            });
                        }

                        // Iterar sobre los datos actualizados y construir las filas de la tabla
                        for (var i = 0; i < response.categorias.length; i++) {
                            var categoria = response.categorias[i];
                            var newRow = '<tr>' +
                                '<td>' + categoria.nombre_cat + '</td>' +
                                '<td>' + categoria.descripcion + '</td>' +
                                '<td>' +
                                
                            '</td>' +
                                '</tr>';
                            tablaCategoria.append(newRow);
                        }

                        var selectCategoria = $('#categoria');
                        selectCategoria.empty(); // Limpiar las opciones existentes

                        // Agregar las nuevas opciones al select
                        for (var i = 0; i < response.categorias.length; i++) {
                            var categoria = response.categorias[i];
                            selectCategoria.append($('<option>', {
                                value: categoria.id,
                                text: categoria.nombre_cat
                            }));
                        }
                    },
                    error: function () {
                        console.log('Error al agg el registro.');
                    }
                });
            }


            // Agregar evento de clic al botón de eliminar en cada fila
            $('#tablaFacultad').on('click', '#eliminarBtnFacultad', function () {
                var idRegistro = $(this).data('id'); // Obtener el ID del registro a eliminar
                eliminarFacultad(idRegistro);
            });

            // Función para eliminar un registro y actualizar la tabla
            function eliminarFacultad(id) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "eliminar_facultad" %}', // URL de la vista Django para eliminar el registro
                    data: { id: id },
                    success: function (response) {
                        var tablaFacultad = $('#tablaFacultad');
                        $('#tablaFacultad tbody tr').remove();

                        // Iterar sobre los datos actualizados y construir las filas de la tabla
                        for (var i = 0; i < response.facultades.length; i++) {
                            var facultad = response.facultades[i];
                            var newRow = '<tr>' +
                                '<td>' + facultad.nombre_facu + '</td>' +
                                '<td>' + facultad.descripcion + '</td>' +
                                '<td>' +
                            
                            '</td>' +
                                '</tr>';
                            tablaFacultad.append(newRow);
                        }

                        console.log('Tabla actualizada.');
                    },
                    error: function () {
                        console.log('Error al eliminar el registro.');
                    }
                });
            }
            // Agregar evento de clic al botón de eliminar en cada fila
            $('#tablaCategoria').on('click', '#eliminarBtnCategoria', function () {
                var idRegistro = $(this).data('id'); // Obtener el ID del registro a eliminar
                eliminarCategoria(idRegistro);
            });

            // Función para eliminar un registro y actualizar la tabla
            function eliminarCategoria(id) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "eliminar_categoria" %}', // URL de la vista Django para eliminar el registro
                    data: { id: id },
                    success: function (response) {
                        var tablaCategoria = $('#tablaCategoria');
                        $('#tablaCategoria tbody tr').remove();

                        // Iterar sobre los datos actualizados y construir las filas de la tabla
                        for (var i = 0; i < response.categorias.length; i++) {
                            var categoria = response.categorias[i];
                            var newRow = '<tr>' +
                                '<td>' + categoria.nombre_cat + '</td>' +
                                '<td>' + categoria.descripcion + '</td>' +
                                '<td>' +
                                
                            '</td>' +
                                '</tr>';
                            tablaCategoria.append(newRow);
                        }

                        console.log('Tabla actualizada.');
                    },
                    error: function () {
                        console.log('Error al eliminar el registro.');
                    }
                });
            }

            // Agregar evento de clic al botón de eliminar en cada fila
            $('#tablaDedicacion').on('click', '#eliminarBtnDedicacion', function () {
                var idRegistro = $(this).data('id'); // Obtener el ID del registro a eliminar
                eliminarDedicacion(idRegistro);
            });

            // Función para eliminar un registro y actualizar la tabla
            function eliminarDedicacion(id) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "eliminar_dedicacion" %}', // URL de la vista Django para eliminar el registro
                    data: { id: id },
                    success: function (response) {
                        var tablaDedicacion = $('#tablaDedicacion');
                        $('#tablaDedicacion tbody tr').remove();

                        // Iterar sobre los datos actualizados y construir las filas de la tabla
                        for (var i = 0; i < response.dedicacionAcademica.length; i++) {
                            var dedicacion = response.dedicacionAcademica[i];
                            var newRow = '<tr>' +
                                '<td>' + dedicacion.nombre_de + '</td>' +
                                '<td>' + dedicacion.descripcion + '</td>' +
                                '<td>' +
                               
                            '</td>' +
                                '</tr>';
                            tablaDedicacion.append(newRow);
                        }

                        console.log('Tabla actualizada.');
                    },
                    error: function () {
                        console.log('Error al eliminar el registro.');
                    }
                });
            }

            $('#tablaTitulo').on('click', '#eliminarBtnTitulo', function () {
                var idRegistro = $(this).data('id'); // Obtener el ID del registro a eliminar
                eliminarTitulo(idRegistro);
            });

            // Función para eliminar un registro y actualizar la tabla
            function eliminarTitulo(id) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "eliminar_titulo" %}', // URL de la vista Django para eliminar el registro
                    data: { id: id },
                    success: function (response) {
                        var tablatitulo = $('#tablaTitulo');
                        $('#tablaTitulo tbody tr').remove();

                        // Iterar sobre los datos actualizados y construir las filas de la tabla
                        for (var i = 0; i < response.titulos.length; i++) {
                            var titulo = response.titulos[i];
                            var newRow = '<tr>' +
                                '<td>' + titulo.nombre_ti + '</td>' +
                                '<td>' + titulo.descripcion + '</td>' +
                                '<td>' +
                                
                            '</td>' +
                                '</tr>';
                            tablatitulo.append(newRow);
                        }

                        console.log('Tabla actualizada.');
                    },
                    error: function () {
                        console.log('Error al eliminar el registro.');
                    }
                });
            }
            // Función para obtener el valor de una cookie
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });

    </script>

    <script>
        // Generar usuario y contraseña al hacer clic en el botón
        const generateCredentialsButton = document.getElementById('generate-credentials');
        generateCredentialsButton.addEventListener('click', function () {
            // Generar usuario
            const nombre = document.getElementById('first_name').value;
            const apellido = document.getElementById('last_name').value;
            const indiceEspacio = apellido.indexOf(' ');

            const usuario = (nombre.charAt(0) + apellido.substring(0, indiceEspacio)).toLowerCase();

            // Generar contraseña
            const caracteres = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
            let contrasena = '';
            for (let i = 0; i < 8; i++) {
                const randomIndex = Math.floor(Math.random() * caracteres.length);
                contrasena += caracteres.charAt(randomIndex);
            }

            // Mostrar usuario y contraseña generados
            const generatedUsername = document.getElementById('username');
            const generatedPassword = document.getElementById('password');
            generatedUsername.value = usuario;
            generatedPassword.value = contrasena;

        });
    </script>
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var imagePreview = document.getElementById('imagePreview');
                imagePreview.innerHTML = '<img src="' + reader.result + '" style="width: 100%;">';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    <script>
        var campoNumerico = document.getElementById("cedula");
        campoNumerico.addEventListener("input", function () {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 10);
        });
        campoNumerico = document.getElementById("numero_telefonico");
        campoNumerico.addEventListener("input", function () {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 10);
        });
        campoNumerico = document.getElementById("numero_convencional");
        campoNumerico.addEventListener("input", function () {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 10);
        });
    </script>
</body>

</html>

{% endblock %}