{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>ADUTEQ - Inicio de Sesión</title>
    <link rel="stylesheet"  href="{% static 'css/estilo_login.css' %}" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    {% if messages %}
    {% if message.tags == 'warning' %}
    <script>
        Swal.fire({
            icon: "warning",
            title: "Advertencia",
            text: "{{ message }}"
        });
    </script>
    {% endif %}
    {% endif %}
    <div class="container">
        <div class="logo">
            <img src="{% static 'img/aduteq.png' %}" alt="ADUTEQ Logo">
        </div>
        <h1 class="title">ADUTEQ</h1>

        <h3>{{ mensaje }}</h3>

        <form class="login-form" action="/login/" method="POST">

            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="submit" value="Iniciar sesión">
        </form>
        <a class="forgot-password" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
    </div>
    <script>
        function showErrorPopup(message) {
            var popupContainer = document.getElementById('popupContainer');
            var popupMessage = document.getElementById('popupMessage');
            popupMessage.innerText = message;
            popupContainer.style.display = 'flex';
        }

        function closePopup() {
            var popupContainer = document.getElementById('popupContainer');
            popupContainer.style.display = 'none';
        }
    </script>
</body>

</html>