{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}"> <!-- Enlaza tu archivo CSS -->
    <title>Cierre de Periodo</title>
    <style>
        /* body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        } */

        #searchInput {
            width: 98%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
 
        .tabla-container {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin: 20px;
            margin-top: 80px;
            overflow-x: auto;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        /* Estilos de tabla */
        .styled-table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 10px;
            border: 1px solid #ddd;
            /* table-layout: fixed; */
        }

        .styled-table th,
        .styled-table td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            /* word-wrap: break-word; */
        }

        /* @media (max-width: 768px) {
            .styled-table th,
            .styled-table td {
                padding: 5px;
                font-size: 12px;
            }
        } */

        .styled-table th {
            background-color: #f2f2f2;
        }

        .tabla-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .tabla-button {
            background-color: hsl(133, 62%, 49%);
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 5px;
            margin-right: 5px;
        }

        .hidden {
            display: none;
        }

        .red-button {
            background-color: red;
            color: white;
        }

        .green-button {
            background-color: hsl(133, 62%, 49%);
            color: white;
        }
    </style>
</head>

<body style="width: 80%; margin: auto;">
    <div class="content-menu">
        <div class="socios-content">
            <div class="tabla-container">
                <div class="tabla-header">
                    <h2>Buscar Socio</h2>
                    <!-- <button style="background-color: rgb(115, 176, 247);" class="tabla-button" id="clearButton">Limpiar</button> -->
                </div>
                <input type="text" id="searchInput" placeholder="Buscar por nombre...">
            </div>
            <form method="post" action="{% url 'actualizar_descuentos' %}">
                {% csrf_token %}
                <div class="tabla-container">
                    <div class="tabla-header">
                        <h2>Descuento Proveedores</h2>
                        <a href="/listar_pagos_pendientes/"><button class="tabla-button" type="button">Descuentos
                                Pendientes</button></a>
                        {% if suma_consumo > 0 %}
                        <button style="margin: 0% 0% 0% 0%;" type="button" class="red-button"
                            id="toggleTableButton">Ocultar</button>
                        <button class="tabla-button" type="submit">Registrar Descuento</button>
                        {% endif %}
                    </div>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cédula</th>
                                <!-- <th>Fecha</th> -->
                                <th>Descuento de Proveedores</th>
                                <th>
                                    <label><input type="checkbox" id="marcar-todop"> Marcar Todo</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="discountTable">
                            {% for consumo in consumos_proveedores %}
                            <tr>
                                <td>{{consumo.0}}</td>
                                <td>{{consumo.1}}</td>
                                <!-- <td>{{consumo.2}}</td> -->
                                <td>{{consumo.2}}</td>
                                <td><input type="checkbox" name="pago_id[]" value="{{ consumo.1 }}"></td>
                            </tr>
                            {% endfor %}
                            <th>total</th>
                            <th></th>
                            <th></th>
                            <th>{{suma_consumo}}</th>
                            <!-- <th></th> -->
                        </tbody>
                    </table>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var marcarTodoCheckbox = document.getElementById("marcar-todop");
                            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="pago_id[]"]');

                            marcarTodoCheckbox.addEventListener("change", function () {
                                var isChecked = marcarTodoCheckbox.checked;

                                checkboxes.forEach(function (checkbox) {
                                    checkbox.checked = isChecked;
                                });
                            });

                            // Resto del código para enviar el formulario...
                        });
                    </script>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var toggleButton = document.getElementById("toggleTableButton");
                            var discountTable = document.getElementById("discountTable");

                            toggleButton.addEventListener("click", function () {
                                discountTable.classList.toggle("hidden");

                                if (discountTable.classList.contains("hidden")) {
                                    toggleButton.textContent = "Mostrar";
                                    toggleButton.style.backgroundColor = "hsl(133, 62%, 49%)";
                                } else {
                                    toggleButton.textContent = "Ocultar";
                                    toggleButton.style.backgroundColor = "red";
                                }
                            });
                        });
                    </script>

                </div>
            </form>

            <form id="formulario-prestamos" method="post" action="{% url 'actualizar_cancelados' %}">
                {% csrf_token %}
                <div class="tabla-container">
                    <div class="tabla-header">
                        <h2>Descuento de Prestamos</h2>
                        {% if suma_prestamos > 0 %}
                        <button type="button" class="red-button"
                            id="toggleTableButton1">Ocultar</button>
                        <button class="tabla-button" type="submit">Registrar Descuento</button>
                        <!-- <a style="text-decoration: none;" href="/actualizar_cancelados" class="tabla-button" type="submit">Registrar Descuento</a> -->
                        {% endif %}
                    </div>
                    <table class="styled-table" id="socioTable">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cédula</th>
                                <th>Fecha</th>
                                <th>Cuota Prestamo</th>
                                <th>
                                    <label><input type="checkbox" id="marcar-todo"> Marcar Todo</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="discountTable1">
                            {% for prestamo in prestamos_cuotas %}
                            <tr>
                                <td>{{prestamo.0}}</td>
                                <td>{{prestamo.1}}</td>
                                <td>{{prestamo.2}}</td>
                                <td>{{prestamo.3}}</td>
                                <td><input type="checkbox" name="socio_id[]" value="{{ prestamo.4 }}"></td>
                            </tr>
                            {% endfor %}
                            <th>total</th>
                            <th></th>
                            <th></th>
                            <th>{{suma_prestamos}}</th>
                            <th></th>
                        </tbody>
                    </table>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var marcarTodoCheckbox = document.getElementById("marcar-todo");
                            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="socio_id[]"]');

                            marcarTodoCheckbox.addEventListener("change", function () {
                                var isChecked = marcarTodoCheckbox.checked;

                                checkboxes.forEach(function (checkbox) {
                                    checkbox.checked = isChecked;
                                });
                            });

                            // Resto del código para enviar el formulario...
                        });
                    </script>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var toggleButton = document.getElementById("toggleTableButton1");
                            var discountTable = document.getElementById("discountTable1");

                            toggleButton.addEventListener("click", function () {
                                discountTable.classList.toggle("hidden");

                                if (discountTable.classList.contains("hidden")) {
                                    toggleButton.textContent = "Mostrar";
                                    toggleButton.style.backgroundColor = "hsl(133, 62%, 49%)";
                                } else {
                                    toggleButton.textContent = "Ocultar";
                                    toggleButton.style.backgroundColor = "red";
                                }
                            });
                        });
                    </script>
                </div>
            </form>

            <form method="post" action="{% url 'actualizar_estados' %}">
                {% csrf_token %}
                <div class="tabla-container">
                    <div class="tabla-header">
                        <h2>Descuento por Cuotas</h2>
                        {% if suma_des_cuot > 0 %}
                        <button style="margin: 0% 0% 0% 0%;" type="button" class="red-button"
                            id="toggleTableButton2">Ocultar</button>
                        <button class="tabla-button" type="submit">Registrar Descuento</button>
                        {% endif %}
                    </div>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cédula</th>
                                <th>Fecha</th>
                                <th>Cuota Descuento</th>
                                <th>Proveedor</th>
                                <th>
                                    <label><input type="checkbox" id="marcar-todo1"> Marcar Todo</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="discountTable2">
                            {% for descuento in descuento_cuotas %}
                            <tr>
                                <td>{{descuento.0}}</td>
                                <td>{{descuento.1}}</td>
                                <td>{{descuento.2}}</td>
                                <td>{{descuento.3}}</td>
                                <td>{{descuento.5}}</td>
                                <td><input type="checkbox" name="socio_id[]1" value="{{ descuento.4 }}"></td>
                            </tr>
                            {% endfor %}
                            <th>total</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{suma_des_cuot}}</th>
                        </tbody>
                    </table>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var marcarTodoCheckbox = document.getElementById("marcar-todo1");
                            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="socio_id[]1"]');

                            marcarTodoCheckbox.addEventListener("change", function () {
                                var isChecked = marcarTodoCheckbox.checked;

                                checkboxes.forEach(function (checkbox) {
                                    checkbox.checked = isChecked;
                                });
                            });

                            // Resto del código para enviar el formulario...
                        });
                    </script>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var toggleButton = document.getElementById("toggleTableButton2");
                            var discountTable = document.getElementById("discountTable2");

                            toggleButton.addEventListener("click", function () {
                                discountTable.classList.toggle("hidden");

                                if (discountTable.classList.contains("hidden")) {
                                    toggleButton.textContent = "Mostrar";
                                    toggleButton.style.backgroundColor = "hsl(133, 62%, 49%)";
                                } else {
                                    toggleButton.textContent = "Ocultar";
                                    toggleButton.style.backgroundColor = "red";
                                }
                            });
                        });
                    </script>
                </div>
            </form>

            <form method="post" action="{% url 'actualizar_estados_ayudas' %}">
                {% csrf_token %}
                <div class="tabla-container">
                    <div class="tabla-header">
                        <h2>Ayudas Externas</h2>
                        {% if suma_ayudas > 0 %}
                        <button style="margin: 0% 0% 0% 0%;" type="button" class="red-button"
                            id="toggleTableButton3">Ocultar</button>
                        <button class="tabla-button" type="submit">Registrar Descuento</button>
                        {% endif %}
                    </div>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cédula</th>
                                <th>Fecha</th>
                                <th>Valor Ayuda</th>
                                <th>
                                    <label><input type="checkbox" id="marcar-todoayu"> Marcar Todo</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="discountTable3">
                            {% for ayuda in ayudas_des %}
                            <tr>
                                <td>{{ayuda.0}}</td>
                                <td>{{ayuda.1}}</td>
                                <td>{{ayuda.2}}</td>
                                <td>{{ayuda.3}}</td>
                                <td><input type="checkbox" name="ayuda_id[]" value="{{ ayuda.4 }}"></td>
                            </tr>
                            {% endfor %}
                            <th>total</th>
                            <th></th>
                            <th></th>
                            <th>{{suma_ayudas}}</th>
                            <th></th>
                        </tbody>
                    </table>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var marcarTodoCheckbox = document.getElementById("marcar-todoayu");
                            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="ayuda_id[]"]');

                            marcarTodoCheckbox.addEventListener("change", function () {
                                var isChecked = marcarTodoCheckbox.checked;

                                checkboxes.forEach(function (checkbox) {
                                    checkbox.checked = isChecked;
                                });
                            });

                            // Resto del código para enviar el formulario...
                        });
                    </script>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var toggleButton = document.getElementById("toggleTableButton3");
                            var discountTable = document.getElementById("discountTable3");

                            toggleButton.addEventListener("click", function () {
                                discountTable.classList.toggle("hidden");

                                if (discountTable.classList.contains("hidden")) {
                                    toggleButton.textContent = "Mostrar";
                                    toggleButton.style.backgroundColor = "hsl(133, 62%, 49%)";
                                } else {
                                    toggleButton.textContent = "Ocultar";
                                    toggleButton.style.backgroundColor = "red";
                                }
                            });
                        });
                    </script>
                </div>
            </form>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var marcarTodoCheckbox = document.getElementById("marcar-todop");
                    var checkboxes = document.querySelectorAll('input[type="checkbox"][name="pago_id[]"]');
                    var searchInput = document.getElementById("searchInput");
                    var tableRows = document.querySelectorAll('.styled-table tbody tr');

                    // Función para filtrar la tabla
                    function filterTable() {
                        var filterText = searchInput.value.toLowerCase();
                        tableRows.forEach(function (row) {
                            var nameColumn = row.querySelector('td:nth-child(1)');
                            if (nameColumn) {
                                var name = nameColumn.textContent.toLowerCase();
                                row.style.display = name.includes(filterText) ? "" : "none";
                            }
                        });
                    }

                    // Evento de cambio en el campo de búsqueda
                    searchInput.addEventListener("input", function () {
                        filterTable();
                    });

                    marcarTodoCheckbox.addEventListener("change", function () {
                        var isChecked = marcarTodoCheckbox.checked;
                        checkboxes.forEach(function (checkbox) {
                            checkbox.checked = isChecked;
                        });
                    });

                    // Resto del código para enviar el formulario...
                });
            </script>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var searchInput = document.getElementById("searchInput");
            var clearButton = document.getElementById("clearButton");

            clearButton.addEventListener("click", function () {
                searchInput.value = "";  // Borra el contenido del campo de búsqueda
                // Llama a la función para filtrar la tabla después de limpiar
                filterTable();
            });
        });
    </script>

</body>

</html>

{% endblock %}