<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        /* @page {
            background-image: url('ADUTEQ\informes\static\img\aduteq.png');
            size: a4;
            margin: 20mm 10mm;
        } */
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
        h4{
            text-align: right;
        }
    </style>
</head>

<body>
    <table style="width: 100%; border-collapse: collapse; text-align: center;">
        <tr>
            <td style="width: 180px; text-align: left; border: none;">
                <img src="{{ image_path }}" alt="Logo" style="max-width: 150px; max-height: 150px;">
            </td>
            <td style="text-align: center; border: none;">
                <h1 style="font-size: x-large;">Asociación de Docentes Universidad Tecnica Estatal de Quevedo</h1>
                <h3>Reporte Descuento Pendientes Socios - {{ mes }}/{{ anio }}</h1>
                <h1 style="font-size: x-large;">Total: ${{total}}</h1>
            </td>
            <td style="width: 180px; text-align: right; border: none;">
                <h4>Fecha de generación: {{fecha_gen}}</h4>
            </td>
        </tr>
    </table>
    
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Cuota préstamos</th>
                <th>Cuota descuentos</th>
                <th>Aportación</th>
                <th>Descuento Proveedores</th>
                <th>Aportación Ayudas</th>
                <th>Consumo total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in resultados %}
            <tr>
                <td style="text-align: center; width: 5%;">{{ forloop.counter }}</td>
                <td style="text-align: left; width: 30%;">{{ row.0 }}</td>
                <td style="width: 10%;">{{ row.1 }}</td>
                <td style="text-align: right;">{{ row.2 }}</td>
                <td style="text-align: right;">{{ row.3 }}</td>
                <td style="text-align: right;">{{ row.4 }}</td>
                <td style="text-align: right;">{{ row.5 }}</td>
                <td style="text-align: right;">{{ row.6 }}</td>
                <td style="text-align: right;">{{ row.7 }}</td>
            </tr>
            {% endfor %}
            <td style="text-align: center;">Total</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>{{total}}</td>
        </tbody>
    </table>
</body>

</html>
