<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        h4 {
            text-align: right;
        }
    </style>
</head>

<body>
    <!-- <div class="header">
        <div class="logo">
            <img src="{{ image_path }}" alt="Logo" width="150" height="150">
        </div>
        <div class="fecha">
            <h1>Reporte General Descuento Socio - {{ mes }}/{{ anio }}</h1>
            <h1>Total: {{total}}</h1>
        </div>
    </div> -->
    <table style="width: 100%; border-collapse: collapse; text-align: center;">
        <tr>
            <td style="width: 180px; text-align: left; border: none;">
                <img src="{{ image_path }}" alt="Logo" style="max-width: 150px; max-height: 150px;">
            </td>
            <td style="text-align: center; border: none;">
                <h1 style="font-size: x-large;">Asociación de Docentes Universidad Tecnica Estatal de Quevedo</h1>
                <h3>Reporte General Descuento Socio - {{ mes }}/{{ anio }}</h1>
                    <h1 style="font-size: x-large;">Total: ${{total}}</h1>
            </td>
            <td style="width: 180px; text-align: right; border: none;">
                <h4>Fecha de generación: {{fecha_gen}}</h4>
            </td>
        </tr>
    </table>
    <div>
        <table>
            <thead>
                <tr>
                    <th>N</th>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Consumo total</th>
                </tr>
            </thead>
            <tbody>
                {% for row in resultados %}
                <tr>
                    <td style="text-align: center; width: 5%;">{{ forloop.counter }}</td>
                    <td style="text-align: start;">{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td style="text-align:right; width: 15%;">{{ row.7 }}</td>
                </tr>
                {% endfor %}
                <td style="text-align: center;">Total</td>
                <td>------------------------------------------------</td>
                <td>------------------------------------------------</td>
                <td style="text-align: right;">{{total}}</td>
            </tbody>
        </table>
    </div>
</body>

</html>