{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Editar Empleado</title>
</head>

<body>
    <div class="content-menu" style="padding-top: 0%;">
    <div class="header">
        <h1>Editar Empleado</h1>
    </div>
    <div class="content">
        <div class="form-container">
            <form id="socio-form" action="{% url 'editar_empleado' empleado_id=empleado.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="nombres">Nombre:</label>
                <input type="text" id="nombres" name="nombres" value="{{ empleado.nombres }}"required>

                <label for="apellidos">Apellido:</label>
                <input type="text" id="apellidos" name="apellidos" value="{{ empleado.apellidos }}" required>

                <label for="cedula">Cedula:</label>
                <input type="text" maxlength="10" value="{{ empleado.cedula }}" id="cedula" name="cedula" required>

                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento"   value="{{ empleado.fecha_nacimiento|date:'Y-m-d' }}" required>

                <label for="correo_electronico">Correo Electrónico:</label>
                <input type="email" id="correo_electronico" name="correo_electronico"     value="{{ empleado.correo_electronico }}" required>

                <label for="numero_telefonico">Teléfono:</label>
                <input type="text" id="numero_telefonico" name="numero_telefonico" value="{{ empleado.numero_telefonico }}" required>

                <label for="direccion_domiciliaria">Dirección Domiciliaria:</label>
                <input type="text" id="direccion_domiciliaria" name="direccion_domiciliaria" value="{{ empleado.direccion_domiciliaria }}" required>

                <label for="fecha_ingreso">Fecha de Ingreso a la Universidad:</label>
                <input type="date" id="fecha_ingreso" name="fecha_ingreso" value="{{ empleado.fecha_ingreso|date:'Y-m-d' }}"  required>

                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" value="{{ empleado.titulo }}" required>

                <div class="generated-credentials">

                    <input type="text" id="usuario" name="username " value="{{ empleado.user.username }}" required>
                    <input type="text" id="password" name="password" value="{{ empleado.user.password }}" required>
       
                    <button type="button" onclick="generarCredenciales()"id="generate-credentials" style="width: 50%; margin-bottom: 10px;">Generar
                        Credenciales</button>

                </div>

                <input type="submit" value="Guardar" style="width: 100%;">
                <a href="/empleados"> <input type="button" value="Cancelar"
                        style="width: 100%; background-color: red;"></a>

            </form>
            <script>
                function generarCredenciales(){

                
                // Generar usuario y contraseña al hacer clic en el botón
                //const generateCredentialsButton = document.getElementById('generate-credentials');
                //generateCredentialsButton.addEventListener('click', function () {
                    // Generar usuario
                    const nombre = document.getElementById('nombres').value;
                    const apellido = document.getElementById('apellidos').value;
                    const indiceEspacio = apellido.indexOf(' ');
        
                    const usuario = (nombre.charAt(0) + apellido.substring(0, indiceEspacio)).toLowerCase();
        
                    // Generar contraseña
                    const caracteres = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
                    let contrasena = '';
                    for (let i = 0; i < 8; i++) {
                        const randomIndex = Math.floor(Math.random() * caracteres.length);
                        contrasena += caracteres.charAt(randomIndex);
                    }
        
                    // Mostrar usuario y contraseña generados
                    const generatedUsername = document.getElementById('usuario');
                    const generatedPassword = document.getElementById('password');
                    generatedUsername.value = usuario;
                    generatedPassword.value = contrasena;
        
                };
            </script>
        </div>
    </div>
</div>
    
    <script>
        var campoNumerico = document.getElementById("cedula");
        campoNumerico.addEventListener("input", function() {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 10);
        });
        campoNumerico = document.getElementById("numero_telefonico");
        campoNumerico.addEventListener("input", function() {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 10);
        });
        campoNumerico = document.getElementById("numero_convencional");
        campoNumerico.addEventListener("input", function() {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 10);
        });
    </script>
</body>

</html>

{% endblock %}