{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .botones_arriba {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        flex-flow: row wrap;
        border: 1px solid rgb(187, 189, 186);
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 8px rgb(134, 134, 134);
        margin: 5px;
        border-radius: 1%;
        background-color: #34b234;
    }

    .image-header {
        margin-bottom: 20px;
        background-color: #34b234;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 5px;
        /* border-color: #0c0b0b;
      border-radius: 2%;
      box-shadow: 0px 4px 8px rgb(134, 134, 134); */
    }

    h3 {
        font-weight: bold;
        color: white;
    }
    table{
        margin-top: 20px;
    }
</style>

<div class="content-menu">
    <div class="socios-content">
        <div class="botones-sup">
            <div class="botones_arriba">
                <div class="header">
                    <h3>Empleados</h3>
                </div>
                <a href="{% url 'agg_empleado' %}"> <button class="add-socio-btn"> Agregar Nuevo Empleado</button></a>
                <table class="socios-table">
                    <thead>
                        <tr>
                            <th>Cedula</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Correo Electrónico</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empleado in empleados %}
                        <tr>
                            <td>{{ empleado.cedula }}</td>
                            <td>{{ empleado.nombres }}</td>
                            <td>{{ empleado.apellidos }}</td>
                            <td>{{ empleado.direccion_domiciliaria }}</td>
                            <td>{{ empleado.numero_telefonico }}</td>
                            <td>{{ empleado.correo_electronico }}</td>
                            <td>
                                {% if empleado.activo %}
                                <button class="green-button"
                                    onclick="confirmarEliminacion('{{ empleado.id }}','{{ empleado.nombres }}','{{ empleado.apellidos }}','{{ empleado.activo }}')">
                                    <span class="visto-icon"></span>
                                    Activo
                                </button>
                                {% else %}
                                <button class="red-button"
                                    onclick="confirmarEliminacion('{{ empleado.id }}','{{ empleado.nombres }}','{{ empleado.apellidos }}','{{ empleado.activo }}')">
                                    <span class="no-visto-icon"></span> Inactivo
                                </button>
                                {% endif %}

                            </td>
                            <td>

                                <button class="edit-btn"
                                    onclick="confirmarEdicion('{{ empleado.id }}','{{ empleado.nombres }}','{{ empleado.apellidos }}')">
                                    Editar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pagination-container">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if empleados.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ empleados.previous_page_number }}">anterior</a>
                    </li>
                    {% endif %}
                    <li class="pagination-item active">
                        <span style="border-radius: 5px;" class="page-link">{{ empleados.number }}</span>
                    </li>
                    {% if empleados.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ empleados.next_page_number }}">siguiente</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </div>
    <!-- Resto del contenido de la página -->
</div>

<script>
    function confirmarEdicion(empleadoId, empleadoNombre, empleadoApellido) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Deseas editar al emplead@ ' + empleadoNombre + ' ' + empleadoApellido,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'Cancelar',
            dangerMode: true,
        }).then((result) => {
            if (result.isConfirmed) {
                // El usuario ha confirmado la edición, redirigir a la página de edición
                window.location.href = '/editar_empleado/' + empleadoId + '/';
            }
        });
    }
</script>

<script>
    function confirmarEliminacion(empleadoId, empleadoNombre, empleadoApellido, empleadoActivo) {

        var valor;

        if (empleadoActivo == 'True') {
            valor = 1;
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Dar de baja de Aduteq al emplead@ ' + empleadoNombre + ' ' + empleadoApellido,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar',
                dangerMode: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    // El usuario ha confirmado la edición, redirigir a la página de edición
                    window.location.href = '/eliminar_empleado/' + empleadoId + '/' + valor + '/';
                    print(valor)
                }
            });

        }
        else {
            valor = 0;
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Habilitar al emplead@ ' + empleadoNombre + ' ' + empleadoApellido,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar',
                dangerMode: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    // El usuario ha confirmado la edición, redirigir a la página de edición
                    window.location.href = '/eliminar_empleado/' + empleadoId + '/' + valor + '/';
                    print(valor)
                }
            });
        }




    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock %}