<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .password-reset-message {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        }

        .password-reset-message p {
        margin: 0;
        }
    </style>

    <div class="password-reset-message">
        <p>Se ha enviado un correo electrónico con las instrucciones para restablecer su contraseña.</p>
      </div>
</body>
</html>