{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Aquí va el contenido de la página -->
    <div class="content-menu" style="padding-top: 0%;">

        <div class="header">
            <h1>Agregar Proveedor</h1>
        </div>
        <div class="content">
            <div class="form-container">
                <form method="post" action="{% url 'guardar_prestamo' %}">
                    {% csrf_token %}
                    <label for="socio">Socio:</label>
                    <select class="form-control mb-2" name="socio" required style="width: 100%;">
                        {% for socio in socios %}
                        <option value="{{ socio.id }}">{{ socio.user.first_name }}</option>
                        {% endfor %}
                    </select>

                    <label for="monto">Monto:</label>
                    <input type="number" id="monto" name="monto" value="{{ prestamo.monto }}" required>
                  
                    <label for="plazo_meses">Plazo en meses:</label>
                    <input type="number" pattern="[1][12]" maxlength="2" id="plazo_meses" name="plazo_meses" value="{{ prestamo.plazo_meses }}" required>
                  
                    <label for="tasa_interes">Tasa de interés:</label>
                    <input type="number" id="tasa_interes" name="tasa_interes" value="{{ prestamo.tasa_interes }}" required>
                  
                    <label for="fecha_prestamo">Fecha:</label>
                    <input type="date" id="fecha_prestamo" name="fecha_prestamo" value="{{ prestamo.fecha_prestamo|date:'Y-m-d' }}" required>
                  
                
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion">{{ prestamo.descripcion }}</textarea>
                  
                    <input type="submit" value="Agregar prestamo">

                    <a href="/prestamos"> <input type="button" value="Cancelar"
                        style="background-color: red;"></a>
                  </form>                     
                </form>
            </div>
        </div>
        <!-- Resto del contenido de la página -->
    </div>
    
    <script>
           var campoNumerico = document.getElementById("ruc");
        campoNumerico.addEventListener("input", function() {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 13);
        });
        campoNumerico = document.getElementById("telefono");
        campoNumerico.addEventListener("input", function() {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 10);
        });
    </script>
    <script>
        
$(document).ready(function () {
    $('#registro-form').on('submit', function (event) {
        event.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '/registrarproveedor/',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.status === 'error') {
                    Swal.fire({
                        "title": "Falló",
                        "text": response.message,
                        "icon": "warning"
                    })
                } else if (response.status === 'success') {
                    Swal.fire({
                        "title": "Éxito",
                        "text": response.message,
                        "icon": "success"
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            window.location.href = "/proveedores/"
                        }
                    })

                }
            },
            error: function (xhr, errmsg, err) {
                Swal.fire('Error', 'Ocurrió un error al procesar la solicitud.', 'error');
            }
        });
    });
});
    </script>
    {% endblock %}
</body>
</html>