{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Aquí va el contenido de la página -->
    <div class="content-menu" style="padding-top: 0%;">

        <div class="header">
            <h1>Agregar Proveedor</h1>
        </div>
        <div class="content">
            <div class="form-container">
                <form method="post" action="{% url 'presagregar_pdf' pago_men.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                  
                    <label for="evidencia">Evidencia:</label>
                    <input accept="application/pdf" type="file" id="evidencia" name="evidencia" value="{{ pago_men.evidencia }}" required>
                  
                    <input type="submit" value="Guardar">

                    <a href="/prestamos"> <input type="button" value="Cancelar"
                        style="background-color: red;"></a>
                  </form>                     
                </form>
            </div>
        </div>
        <!-- Resto del contenido de la página -->
    </div>
    
    <script>
           var campoNumerico = document.getElementById("ruc");
        campoNumerico.addEventListener("input", function() {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 13);
        });
        campoNumerico = document.getElementById("telefono");
        campoNumerico.addEventListener("input", function() {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 10);
        });

        document.addEventListener('DOMContentLoaded', function () {
    const evidenciaInput = document.getElementById('evidencia');

    evidenciaInput.addEventListener('change', function () {

        if (evidenciaInput.files.length > 0) {
            const selectedFile = evidenciaInput.files[0];

            if (selectedFile.type !== 'application/pdf') {
                evidenciaInput.value = ''; 
                Swal.fire({
                    title: 'Formato no permitido',
                    text: 'Por favor, seleccione un archivo en formato PDF.',
                    icon: 'error',
                });
            }
        }
    });
});
    </script>
    <script>
        
$(document).ready(function () {
    $('#registro-form').on('submit', function (event) {
        event.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '/registrarproveedor/',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.status === 'error') {
                    Swal.fire({
                        "title": "Falló",
                        "text": response.message,
                        "icon": "warning"
                    })
                } else if (response.status === 'success') {
                    Swal.fire({
                        "title": "Éxito",
                        "text": response.message,
                        "icon": "success"
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            window.location.href = "/proveedores/"
                        }
                    })

                }
            },
            error: function (xhr, errmsg, err) {
                Swal.fire('Error', 'Ocurrió un error al procesar la solicitud.', 'error');
            }
        });
    });
});
    </script>
    {% endblock %}
</body>
</html>