<table class="socios-table">
    <thead>
        <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Socio</th>
            <th scope="col">Monto</th>
            <th scope="col">Fecha</th>
            <th scope="col">Plazo</th>
            <th scope="col">Tasa</th>
            <th scope="col">Total</th>
            <th scope="col">Fecha ultimo pago</th>
            <th scope="col">Estado</th>
            <th scope="col">Evidencia</th>
            <!-- <th scope="col">Accion</th> -->
            {% if periodo_seleccionado.activo == True %}
            <th scope="col">Detalles</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Evidencia</th>
            {% else %}
            <th scope="col">Evidencia</th>
            {% endif %}
            <!-- <th scope="col">Eliminar</th> -->
        </tr>
    </thead>
    <tbody>
        {% for prestamo in prestamos %}
        <tr>
            <td>
                {% if prestamo.tipo %}
                <strong>EMERGENTE</strong>
                {% else %}
                <strong>NORMAL</strong>
                {% endif %}
            </td>
            <td>{{ prestamo.socio.user.first_name }} {{ prestamo.socio.user.last_name }}</td>
            <td>{{ prestamo.monto }}$</td>
            <td>{{ prestamo.fecha_prestamo|date:"j - n - Y" }}</td>
            <td>{{ prestamo.plazo_meses }} meses</td>
            <td>{{ prestamo.tasa_interes|floatformat:0 }}%</td>
            <td>{{ prestamo.total }}$</td>
            <td>{{ prestamo.fecha_pago|date:"j - n - Y" }}</td>
            <td>
                {% if prestamo.cancelado %}
                <button class="green-button">
                    Cancelado
                </button>
                {% else %}
                <button class="red-button">
                    Pendiente
                </button>
                {% endif %}
            </td>
            <td>

                {% if prestamo.evidencia %}
                <a href="{{ prestamo.evidencia.url }}" target="_blank">
                    <i style="font-size: xx-large;" class="far fa-file-pdf"></i>
                </a>
                {% else %}
                Sin evidencia
                {% endif %}

            </td>
            <!-- <td>
                <button class="edit-btn"
                    onclick="confirmarPago('{{ prestamo.id }}','{{ prestamo.socio.user.first_name }}','{{ prestamo.cancelado }}')">
                    Registrar pago
                </button>
            </td> -->
            <!-- <td>
                <form action="{% url 'editar_prestamo' prestamo.id %}">
                    <button class="edit-btn">Editar</button>
                </form>
            </td> -->
            {% if periodo_seleccionado.activo == True %}
            <td>
                <form action="{% url 'mostrar_detalles_pago' prestamo.socio.id prestamo.id %}">
                    <button class="edit-btn">Detalles Pago</button>
                </form>
            </td>

            <td>
                <button class="edit-btn" onclick="confirmarEliminacion('{{prestamo.id}}','{{prestamo.socio.user.first_name}}')">Eliminar</button>
            </td>
            <td>
                <button class="edit-btn" onclick="confirmarEdicion('{{prestamo.id}}','{{prestamo.socio.user.first_name}}')">Evidencia</button>
            </td>
            {% else %}
                {% if prestamo.cancelado == False %}
                <td>
                    <form action="{% url 'mostrar_detalles_pago' prestamo.socio.id prestamo.id %}">
                        <button class="edit-btn">Detalles Pago</button>
                    </form>
                </td>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}

    </tbody>
</table>