{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<body>
    <style>
        .pagination-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .botones_arriba {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 10px;
            flex-flow: row wrap;
            border: 1px solid rgb(187, 189, 186);
            width: 100%;
            padding: 20px;
            box-shadow: 0px 4px 8px rgb(134, 134, 134);
            margin: 5px;
            border-radius: 1%;
            background-color: #34b234;
        }

        .image-header {
            margin-bottom: 20px;
            background-color: #34b234;
            width: 100%;
            margin: auto;
            text-align: center;
            margin-bottom: 5px;
            /* border-color: #0c0b0b;
      border-radius: 2%;
      box-shadow: 0px 4px 8px rgb(134, 134, 134); */
        }

        h3 {
            font-weight: bold;
            color: white;
        }

        table {
            margin-top: 20px;
        }
    </style>
    <div class="content-menu">
        <div class="socios-content">
            <div class="botones-sup">
                <div class="botones_arriba">
                    <div class="header">
                        <h3>Detalles de pago de <b>{{ socio.user.first_name }}</b> <b>{{ socio.user.last_name }}</b>
                        </h3>
                    </div>
                    <a href="/prestamos/"> <button class="add-socio-btn"> Atras</button></a>
                    <table class="socios-table">
                        <thead>
                            <tr>
                                <th scope="col">Socio</th>
                                <th scope="col">Cuota</th>
                                <th scope="col">Monto a pagar</th>
                                <th scope="col">Evidencia</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Registrar</th>
                                <th scope="col">Evidencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cuota in cuotas %}
                            <tr>
                                <td>{{ cuota.socio.user.first_name }}</td>
                                <td>{{ cuota.numero_cuota}}</td>
                                <td>{{ cuota.monto_pago }}$</td>
                                <td>

                                    {% if cuota.evidencia %}
                                    <a href="{{ cuota.evidencia.url }}" target="_blank">
                                        <i style="font-size: xx-large;" class="far fa-file-pdf"></i>
                                    </a>
                                    {% else %}
                                    Sin evidencia
                                    {% endif %}

                                </td>

                                <td>
                                    {% if cuota.cancelado %}
                                    <button class="green-button">
                                        Cancelado
                                    </button>
                                    {% else %}
                                    <button class="red-button">
                                        Pendiente
                                    </button>
                                    {% endif %}
                                </td>

                                <td>{{ cuota.fecha_pago }}</td>
                                <td>
                                    {% if cuota.cancelado == False %}
                                    <button class="edit-btn"
                                        onclick="confirmarPagoCuota('{{ cuota.id }}','{{ cuota.socio.user.first_name }}','{{ cuota.cancelado }}','{{ cuota.socio.id }}','{{ cuota.prestamo.id }}')">
                                        Registrar pago
                                    </button>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if cuota.cancelado %}
                                    <form action="{% url 'presagregar_pdf' cuota.id %}">
                                        <button class="edit-btn">Editar</button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="pagination-container">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if cuotas.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ cuotas.previous_page_number }}">anterior</a>
                        </li>
                        {% endif %}
                        <li class="pagination-item active">
                            <span style="border-radius: 5px;" class="page-link">{{ cuotas.number }}</span>
                        </li>
                        {% if cuotas.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ cuotas.next_page_number }}">siguiente</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>

        function confirmarPagoCuota(cuotaId, socioNombre, cancelado, socio_id, prestamo_id) {
            var valor;

            if (cancelado == 'False') {
                valor = 0;
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'Registrar el pago de este prestamo al soci@ ' + socioNombre,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'Cancelar',
                    dangerMode: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        // El usuario ha confirmado la edición, redirigir a la página de edición
                        window.location.href = '/prestamo/aplicar_pago_cuota/' + cuotaId + '/' + valor + '/' + socio_id + '/' + prestamo_id + '/';
                        print(valor)
                    }
                });

            }
        }

    </script>

    {% endblock %}