{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-menu" style="padding-top: 0%;">

    <div class="header">
        <h1> Detalle Cuotas {{pago_cu.socio}} {{pago_cu.socio.user.last_name}}</h1>
    </div>
    <div class="socios-content ">
        <div class="botones-sup">
            <a href="/lista_pagos_cuotas/"> <button class="add-socio-btn">Lista Pagos Cuotas</button></a>
        </div>
        <table class="socios-table">
            <thead>
                <tr>
                    <th scope="col">No Cuota</th>
                    <th scope="col">Valor Cuota</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha de Pago</th>
                    <th scope="col">Evidencia</th>
                    <th scope="col">Registar Pago</th>
                    <th scope="col">Registar Evidencia</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle_cuota in detalle_cuotas %}
                <tr>
                    <td>{{detalle_cuota.numero_cuota}}</td>
                    <td>{{detalle_cuota.pago_cuota.valor_cuota}}</td>
                    <td>
                        {% if detalle_cuota.estado %}
                        <button class="green-button">
                            Cancelado
                        </button>
                        {% else %}
                        <button class="red-button">
                            Pendiente
                        </button>
                        {% endif %}
                    </td>
                    <td>{{detalle_cuota.fecha_descuento}}</td>

                    <td>

                        {% if detalle_cuota.evidencia %}
                        <a href="{{ detalle_cuota.evidencia.url }}" target="_blank">
                            <i style="font-size: xx-large;" class="far fa-file-pdf"></i>
                        </a>
                        {% else %}
                        Sin evidencia
                        {% endif %}

                    </td>

                    <td>
                        {% if detalle_cuota.estado == False %}
                        <button class="edit-btn"
                            onclick="confirmarPagoCuota('{{ detalle_cuota.id }}','{{ detalle_cuota.pago_cuota.socio }}')">
                            Registrar pago
                        </button>
                        {% endif %}
                    </td>

                    <td>
                        {% if detalle_cuota.estado == True %}
                        <form action="{% url 'agregar_pdf' detalle_cuota.id %}">
                            {% csrf_token %}
                            <button class="edit-btn">Agregar Evidencia</button>
                        </form>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <script>

        function confirmarPagoCuota(cuotaId, socioNombre) {
            var valor;

            valor = 0;
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Registrar el pago de esta cuota al soci@ ' + socioNombre,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar',
                dangerMode: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    // El usuario ha confirmado la edición, redirigir a la página de edición
                    window.location.href = '/registra_pago_cuota/' + cuotaId;
                }
            });

        }

    </script>

    {% endblock %}