{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .botones_arriba {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        flex-flow: row wrap;
        border: 1px solid rgb(187, 189, 186);
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 8px rgb(134, 134, 134);
        margin: 5px;
        border-radius: 1%;
        background-color: #34b234;
    }

    .image-header {
        margin-bottom: 20px;
        background-color: #34b234;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 5px;
        /* border-color: #0c0b0b;
      border-radius: 2%;
      box-shadow: 0px 4px 8px rgb(134, 134, 134); */
    }

    h3 {
        font-weight: bold;
        color: white;
    }

    table {
        margin-top: 20px;
    }
</style>

<body>

    <div class="content-menu">
        <div class="socios-content ">
            <div class="botones-sup">
                <div class="botones_arriba">
                    <div class="image-header">
                        <h3>Descuentos Pendientes</h3>
                    </div>

                    <div style="height: min-content;">
                        <a href="/agregar_pagos_pendiente/"> <button class="add-socio-btn"> Agregar Descuento</button></a>
                        <a style="margin-left: 10px;" href="/lista_pagos_cuotas_pendientes/">
                            <button class="add-socio-btn">Descuentos por Cuotas</button>
                        </a>
                    </div>
                    <div style="display: inline-flex; justify-content: end; width: max-content;">
                        <div class="search-form">

                            <select id="criterio" name="criterio">
                                <option value="nombres">Nombre</option>
                                <option value="apellidos">Apellido</option>
                            </select>
                            <input type="text" id="buscador_input" name="valor" placeholder="Buscar por socio...">
                            <!-- <button type="submit">Buscar</button> -->

                        </div>
                    </div>

                    <div style="display: flex; justify-content: center; width: min-content;">
                        <label class="fw-bold" style="font-size: 16px; margin-top: 8px;">Periodo:</label>
                        <select style="margin-left: 10px; width: min-content; height: min-content; font-size: 14px;"
                            class="form-control mb-2" name="anio" id="select-anio" aria-placeholder="Asño" required>
                            {% for anio in anos %}
                            <option value="{{ anio }}">{{ anio }}</option>
                            {% endfor %}
                        </select>

                        <select style="margin-left: 10px; width: min-content;  height: min-content; font-size: 14px;"
                            class="form-control mb-2" name="periodo" id="select-periodo" aria-placeholder="Periodo"
                            required>
                            {% for periodo in periodos %}
                            {% if periodo.anio == anos.0 %}
                            <option value="{{ periodo.id }}" {% if periodo.activo %}selected{% endif %}>
                                {{ periodo.nombre }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>



                    <div style="width: 100%;" id="lista-pagos">
                        <table class="socios-table">
                            <thead>
                                <tr>
                                    <!-- <th scope="col">ID</th> -->
                                    <th scope="col">Socio</th>
                                    <th scope="col">Descuento</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Estado</th>
                                    {% if periodo_seleccionado.activo == True %}
                                    <th scope="col">Editar</th>
                                    <th scope="col">Eliminar</th>
                                    <th scope="col">Convertir a Cuotas</th>
                                    {% endif %}

                                </tr>
                            </thead>
                            <tbody id="pagos-body">
                                {% for pago in pagos %}
                                <tr>
                                    <!-- <td>{{pago.id}}</td> -->
                                    <td>{{ pago.socio.user.last_name }} {{ pago.socio.user.first_name }}</td>
                                    <td>{{pago.consumo_total}}$</td>
                                    <td>{{ pago.fecha_consumo|date:"j - n - Y" }}</td>
                                    <td>
                                        {% if pago.estado %}
                                        <button class="green-button">
                                            Cancelado
                                        </button>
                                        {% else %}
                                        <button class="red-button">
                                            Pendiente
                                        </button>
                                        {% endif %}
                                    </td>

                                    {% if periodo_seleccionado.activo %}
                                    <td>
                                        <form action="{% url 'editar_pago_pendiente' pago.id %}">
                                            <button class="edit-btn">Editar</button>
                                        </form>
                                    </td>

                                    <td>
                                        {% if pago.estado %}
                                        {% else %}
                                        <form action="{% url 'eliminar_pago_pendiente' pago.id %}">
                                            <button class="delete-btn">Eliminar</button>
                                        </form>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if pago.estado %}
                                        {% else %}
                                        <form action="{% url 'convertir_cuotas2' pago.id %}">
                                        <button class=" delete-btn">Convertir</button>
                                        </form>
                                        {% endif %}
                                    </td>
                                    {% endif %}

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pagination-container">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if pagos.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Primero">
                                Primero
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pagos.previous_page_number }}" aria-label="Anterior">
                                Anterior
                            </a>
                        </li>
                        {% endif %}
                        <li class="page-item active">
                            <span class="page-link">{{ pagos.number }}</span>
                        </li>
                        {% if pagos.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pagos.next_page_number }}" aria-label="Siguiente">
                                Siguiente
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pagos.paginator.num_pages }}" aria-label="Último">
                                Último
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <script>

            $(document).ready(function () {
                $("#buscador_input").on("input", function () {
                    var query = $(this).val();
                    var criterio = document.getElementById('criterio').value;
                    console.log(criterio);
                    console.log(query);
                    $.ajax({
                        url: '{% url "buscar_pagos_pendientes" %}',
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            query: query,
                            criterio: criterio
                        },
                        success: function (data) {
                            $(".socios-table").html(data.rendered_table);
                        }
                    });
                });
            });

            $(document).ready(function () {
                $("#criterio").on("change", function () {
                    var criterio = $(this).val();

                    $.ajax({
                        url: '{% url "buscar_pagos_pendientes" %}',  // Cambia esto a la URL de tu vista de búsqueda
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',  // Agrega el token CSRF
                            query: "",
                            criterio: criterio
                        },
                        success: function (data) {  // Verifica los datos devueltos por el servidor
                            $(".socios-table").html(data.rendered_table);
                        }
                    });
                });
            });

            $(document).ready(function () {
                $("#select-periodo").on("click", function () {
                    console.log('ENTRAR AL SELECT')
                    var periodoid = $(this).val();
                    $.ajax({
                        url: '{% url "listar_pagos_pendientes" %}',
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            periodoid: periodoid
                        },
                        success: function (data) {
                            $("#lista-pagos").html(data.rendered_table);
                        }
                    });
                });
            });
        </script>
        {% endblock %}