{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>

    <div class="content-menu" style="padding-top: 0%;">

        <div class="header">
            <h1>Descuentos</h1>
        </div>
        <div class="socios-content ">
            <div class="botones-sup">
                <a href="/agregar_pago/"> <button class="add-socio-btn"> Agregar Descuento</button></a>

                <form style="margin-left: 10px;display: flex; "action="{% url 'extraer_pdf' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="custom-file" style="display: flex;">
                        <input class="add-socio-btn" style="width: 100%; " type="file" id="pdf_file" name="pdf_file" accept=".pdf" required>
                        <button  style="margin-left: 5px;" type="submit" class="add-socio-btn" >Extraer datos del PDF</button>
                    </div>
                   
                  </form>                  

            </div>
            <table class="socios-table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Socio</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in pagos %}
                    <tr>
                        <td>{{pago.id}}</td>
                        <td>{{ pago.socio.user.first_name }}</td>
                        <td>{{pago.proveedor.nombre}}</td>
                        <td>{{pago.consumo_total}}$</td>
                        <td>{{ pago.fecha_consumo|date:"j - n - Y" }}</td>

                        <td>
                            <form action="{% url 'editarpago' pago.id %}">
                                <button class="edit-btn">Editar</button>
                            </form>
                        </td>

                        <td>
                            <form action="{% url 'eliminarpago' pago.id %}">
                                <button class="delete-btn">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        {% endblock %}