<table class="socios-table">
    <thead>
        <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Socio</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Descuento</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            {% if periodo_seleccionado.activo %}
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Convertir Cuotas</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for pago in pagos %}
        <tr>
            <!-- <td>{{pago.id}}</td> -->
            <td>{{ pago.socio.user.last_name }} {{ pago.socio.user.first_name }}</td>
            <td>{{pago.proveedor.nombre}}</td>
            <td>{{pago.consumo_total}}$</td>
            <td>{{ pago.fecha_consumo|date:"j - n - Y" }}</td>
            <td>
                {% if pago.estado %}
                <button class="green-button">
                    Cancelado
                </button>
                {% else %}
                <button class="red-button">
                    Pendiente
                </button>
                {% endif %}
            </td>
            {% if periodo_seleccionado.activo %}
            <td>
                <form action="{% url 'editarpago' pago.id %}">
                    <button class="edit-btn">Editar</button>
                </form>
            </td>

            <td>
                {% if pago.estado %}
                {% else %}
                <form action="{% url 'eliminarpago' pago.id %}">
                    <button class="delete-btn">Eliminar</button>
                </form>
                {% endif %}
            </td>
            <td>
                {% if pago.estado %}
                {% else %}
                <form action="{% url 'convertir_cuotas' pago.id %}"">
                <button class=" delete-btn">Convertir</button>
                </form>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% if periodo_seleccionado.activo %}
<div class="pagination-container">
    <nav aria-label="...">
        <ul class="pagination">
            {% if pagos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pagos.previous_page_number }}">anterior</a>
            </li>
            {% endif %}
            <li class="pagination-item active">
                <span style="border-radius: 5px;" class="page-link">{{ pagos.number }}</span>
            </li>
            {% if pagos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pagos.next_page_number }}">siguiente</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}