<table class="socios-table">
    <thead>
        <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Socio</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Numero Cuotas</th>
            <!-- <th scope="col">Cuota Actual</th> -->
            <th scope="col">Consumo Total</th>
            <!-- <th scope="col">Valor Cuota</th> -->
            <th scope="col">Fecha Descuento</th>
            <th scope="col">Estado</th>
            <th scope="col">Detalle</th>
            {% if periodo_seleccionado.activo %}
            <th scope="col">Eliminar</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for pago_cuota in pago_cuotas %}
        <tr>
            <!-- <td>{{pago_cuota.id}}</td> -->
            <td>{{pago_cuota.socio.user.last_name }} {{pago_cuota.socio.user.first_name }}</td>
            <td>{{pago_cuota.proveedor.nombre}}</td>
            <td>{{pago_cuota.numero_cuotas}}</td>
            <!-- <td>{{pago_cuota.cuota_actual}}</td> -->
            <td>{{pago_cuota.consumo_total}}</td>
            <!-- <td>{{pago_cuota.valor_cuota}}</td> -->
          
            <td>{{pago_cuota.fecha_descuento|date:"j - n - Y" }}</td>
              <td>
                {% if pago_cuota.estado %}
                <button class="green-button">
                    Cancelado
                </button>
                {% else %}
                <button class="red-button">
                    Pendiente
                </button>
                {% endif %}
            </td>
            <td>
                <form action="{% url 'detalles_cuota' pago_cuota.id %}">
                    <button class="edit-btn">Ver Detalle</button>
                </form>
            </td>
            <!-- <td>
                <form action="{% url 'eliminar_pago_cuota' pago_cuota.id %}"> 
                    <button class="edit-btn">Eliminar</button>
                </form>
            </td> -->
            {% if periodo_seleccionado.activo %}
            <td>
                <button class="edit-btn" onclick="confirmarEliminacion('{{pago_cuota.id}}','{{pago_cuota.socio.user.first_name}}')">Eliminar</button>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>