{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Agregar Promo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <style>
        h1 {
            text-align: center;
        }
        /* .content2 .form-container{
            width: 80%;
        } */
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
        
    
</head>

<body>
    <div class="content-menu" style="padding-top: 0%;">
        <div class="header">
            <h1>Agregar Promo</h1>
        </div>
        <div class="content">
            <div class="form-container2">


                <form id="registro-promo" action="/agregarpromo/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label id="tipe" for="tipo">Seleccione el tipo: (Promo o comunicado)</label>
                    <select name="selectipo" id="selectipo" style="width:95%;" onchange="mostrarCampos()">
                        <option value="1">Promoción</option>
                        <option value="0">Comunicado</option>
                    </select>

                    <label id="title" for="titulo">Titulo:</label>
                    <input type="text" id="titulo" name="titulo" value="{{ socio.first_name }}"  required>

                    <label id="pro" for="proveedor">Buscar o seleccionar proveedor:</label>
                    <input autocomplete="off" type="text" id="proveedorInput" style="width:95%;" placeholder="Buscar proveedor...">
                    <select id="proveedorSelect" name="proveedor" style="width:95%;" size="4">
                        {% for proveedor in proveedores %}
                        <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
                        {% endfor %}
                    </select>

                    <label id="description" for="descripcion">Descripcion:</label>
                    <textarea class="excluir" id="descripcion" name="descripcion" rows="4">{{ promoción.descripcion }}</textarea>

                    <!-- <script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script> -->
                    <script src="https://cdn.tiny.cloud/1/xu0fvfj54zsd7w4r0fwe2nipfqh5pj3c3dpvdpakunvhhlsj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
                    <script>
                        tinymce.init({
                          selector: 'textarea#descripcion',
                          height: 300,
                          language: 'es',
                          plugins: 'tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen advtable advcode powerpaste a11ychecker',
                          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                          autocompleter_data: {
                                source: '/proveedores-autocomplete/',
                                min_chars: 1,
                                trigger: '('
                            },
                          tinycomments_mode: 'embedded',
                          tinycomments_author: 'Author name',
                          mergetags_list: [
                            { value: 'First.Name', title: 'First Name' },
                            { value: 'Email', title: 'Email' },
                          ],
                          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
                        });
                        

                        $('#descripcion').on('input', function() {
                        var textoIngresado = $(this).val();
                        
                        $.ajax({
                            url: '/buscar_proveedores/',  // URL de la vista de búsqueda de proveedores en Django
                            method: 'GET',
                            data: { query: textoIngresado },
                            dataType: 'json',
                            success: function(data) {
                                var sugerenciasHTML = '';
                                data.sugerencias.forEach(function(proveedor) {
                                    sugerenciasHTML += `<div>${proveedor.nombre}</div>`;
                                });
                                // Muestra las sugerencias debajo del textarea
                                $('#sugerencias').html(sugerenciasHTML);
                            },
                            error: function(xhr, status, error) {
                                console.error('Error al buscar proveedores:', error);
                            }
                        });
                    });
                      </script>

                        <div id="sugerencias"></div>

                    <label id="image" for="foto">Agregar Imagen Promo:</label>
                    {% get_media_prefix as media_prefix %}
                    <div class="generated-credentials">
                        <div class="custom-file">
                            <div class="upload-preview">
                                <div id="imagePreview">
                                    {% if promocion.imagen %}
                                        <img src="{{ media_prefix }}{{ promocion.imagen }}">
                                    {% endif %}
                                </div>
                            </div>
                            <input type="file" class="custom-file-input" id="imagen" name="imagen"
                                onchange="previewImage(event)">
                            <label class="custom-file-label" for="id_foto_perfil">Seleccionar imagen</label>
                        </div>
                    </div>

                    <label id="evi" for="evidencia">Evidencia (PDF):</label>
                    <input accept="application/pdf" type="file" id="evidencia" name="evidencia" value="{{ promocion.evidencia }}">


                    <label id="f_ini" for="fecha_nacimiento">Fecha de Inicio:</label>
                    <input type="date" id="fecha_inicio" name="fecha_inicio"
                        value="{{ promocion.fecha_inicio}}">
                    
                    <label id="f_fin" for="fecha_nacimiento">Fecha Final:</label>
                    <input type="date" id="fecha_fin" name="fecha_fin"
                        value="{{ promocion.fecha_fin}}">

                    <input type="hidden" id="estado" name="estado" value="1">

                    <input id="botonAgregar" type="submit" value="Agregar Promo" style="width: 100%;">
                    <a href="/promociones"> <input type="button" value="Cancelar"
                            style="width: 100%; background-color: red;"></a>

                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        
        document.addEventListener('DOMContentLoaded', function () {
    const evidenciaInput = document.getElementById('evidencia');

    evidenciaInput.addEventListener('change', function () {

        if (evidenciaInput.files.length > 0) {
            const selectedFile = evidenciaInput.files[0];

            if (selectedFile.type !== 'application/pdf') {
                evidenciaInput.value = ''; 
                Swal.fire({
                    title: 'Formato no permitido',
                    text: 'Por favor, seleccione un archivo en formato PDF.',
                    icon: 'error',
                });
            }
        }
    });
});

        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var imagePreview = document.getElementById('imagePreview');
                imagePreview.innerHTML = '<img src="' + reader.result + '" style="width: 100%;">';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    <script>
        $(document).ready(function () {
    $('#registro-promo').on('submit', function (event) {
        event.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '/agregarpromo/',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.status === 'error') {
                    Swal.fire({
                        "title": "Falló",
                        "text": response.message,
                        "icon": "warning"
                    })
                } else if (response.status === 'success') {
                    Swal.fire({
                        "title": "Éxito",
                        "text": response.message,
                        "icon": "success"
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            window.location.href = "/promociones/"
                        }
                    })

                }
            },
            error: function (xhr, errmsg, err) {
                Swal.fire('Error', 'Ocurrió un error al procesar la solicitud.', 'error');
            }
        });
    });
});
    </script>
    <script>
        const inputElement = document.getElementById('proveedorInput');
        const selectElement = document.getElementById('proveedorSelect');
    
        // Agregar evento de entrada al campo de texto
        inputElement.addEventListener('input', function() {
            const searchText = this.value.trim().toLowerCase();
    
            // Iterar a través de las opciones del select y mostrar/ocultar según la búsqueda
            for (const option of selectElement.options) {
                const optionText = option.text.toLowerCase();
                if (optionText.includes(searchText)) {
                    option.style.display = 'block';
                } else {
                    option.style.display = 'none';
                }
            }
        });
    
        // Agregar evento de cambio al select para actualizar el campo de entrada de texto
        selectElement.addEventListener('change', function() {
            const selectedOption = this.options[this.selectedIndex];
            inputElement.value = selectedOption.text;
        });
    </script>

<script>
    function mostrarCampos() {
        var tipoSeleccionado = document.getElementById("selectipo").value;

        // Ocultar todos los campos primero
        document.getElementById("titulo").style.display = "none";
        document.getElementById("descripcion").style.display = "none";
        document.getElementById("proveedorInput").style.display = "none";
        document.getElementById("proveedorSelect").style.display = "none";
        document.getElementById("imagen").style.display = "none";
        document.getElementById("evidencia").style.display = "none";
        document.getElementById("fecha_inicio").style.display = "none";
        document.getElementById("fecha_fin").style.display = "none";
        var imagen = document.getElementById("image");
        var fechaInicio = document.getElementById("fecha_inicio");
        var fechaFin = document.getElementById("fecha_fin");
        var proveedor = document.getElementById("proveedorSelect");

        var botonAgregar = document.getElementById("botonAgregar");
        document.getElementById("pro").style.display = "none";
        document.getElementById("f_ini").style.display = "none";
        document.getElementById("f_fin").style.display = "none";

        if (tipoSeleccionado === "1") {
            document.getElementById("pro").style.display = "block";
            document.getElementById("description").style.display = "block"; // Mostrar el editor TinyMCE
            document.getElementById("f_ini").style.display = "block";
            document.getElementById("f_fin").style.display = "block";

            document.getElementById("titulo").style.display = "block";
            document.getElementById("proveedorInput").style.display = "block";
            document.getElementById("proveedorSelect").style.display = "block";
            document.getElementById("imagen").style.display = "block";
            document.getElementById("evidencia").style.display = "block";
            document.getElementById("fecha_inicio").style.display = "block";
            document.getElementById("fecha_fin").style.display = "block";
            botonAgregar.value = "Agregar Promo";
        } else if (tipoSeleccionado === "0") {
            document.getElementById("pro").style.display = "none";
            document.getElementById("f_ini").style.display = "none";
            document.getElementById("f_fin").style.display = "none";

            document.getElementById("titulo").style.display = "block";
            document.getElementById("description").style.display = "block"; // Mostrar el editor TinyMCE
            document.getElementById("imagen").style.display = "block";
            document.getElementById("evidencia").style.display = "block";
            var fechaActual = new Date().toISOString().split('T')[0];
            fechaInicio.value = fechaActual;
            fechaFin.value = fechaActual;
            botonAgregar.value = "Agregar Comunicado";
            imagen.textContent = "Agregar imagen del comunicado";
        }
    }
</script>


    
</body>

</html>

{% endblock %}