body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    font-size: 14px !important;
}

.disable-underline {
    text-decoration: none;
    /* Deshabilita el subrayado */
    cursor: default;
    /* Cambia el cursor a un cursor predeterminado */
    overflow: hidden;
    white-space: nowrap;
    list-style-type: none;
    z-index: 0;
}

.header {
    background-color: #34b234;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.header h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.content {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
}


.form-container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
}

.form-container2 {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    width: max-content;
}

.form-container2 label {
    display: block;
    margin-bottom: 10px;
    width: max-content;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container input[type="date"],
.form-container input[type="submit"],
.form-container input[type="button"],
.form-container input[type="file"],
.form-container input[type="password"],
.form-container select,
.form-container textarea,
.form-container button,
.input#file-upload-button {
    background-color: white;
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-container2 input[type="text"],
.form-container2 input[type="email"],
.form-container2 input[type="number"],
.form-container2 input[type="date"],
.form-container2 input[type="submit"],
.form-container2 input[type="button"],
.form-container2 input[type="file"],
.form-container2 input[type="password"],
.form-container2 select,
.form-container2 textarea,
.form-container2 button,
.input#file-upload-button {
    background-color: white;
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}


.form-container input[type="submit"],
.form-container input[type="button"],
.form-container button {
    background-color: #34b234;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.form-container2 input[type="submit"],
.form-container2 input[type="button"],
.form-container2 button {
    background-color: #34b234;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.form-container input[type="submit"]:hover,
.form-container input[type="button"]:hover,
.form-container button:hover,
.input#file-upload-button:hover {
    background-color: #ECB932;
    width: 100%;
}



.upload-preview {
    margin-bottom: 10px;
    height: auto;
    width: 200px;
}

.upload-preview p {
    font-weight: bold;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {

    .styled-table th,
    .styled-table td {
        padding: 5px;
        font-size: 12px;
    }
}

.upload-preview img {
    max-width: 200px;
    display: block;
    margin-top: 10px;

}

.custom-file {
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* Personaliza el ancho según tus necesidades */
}

.custom-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    background-color: #34b234;
    transition: background-color 0.3s;
}

.custom-file-label {
    width: 100%;
    display: block;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    align-items: center;
    line-height: 1.42857143;
    color: white;
    background-color: #34b234;
    transition: background-color 0.3s;

}

.custom-file-label:hover {
    background-color: white;
}

.custom-file-input:focus~.custom-file-label {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.generated-credentials {

    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #62c562;
    background-color: white;
    display: block;
    position: relative;
    text-align: center;
}

.generated-credentials p {
    margin: 10px;
}

.socios-content {
    margin: 20px;
}

.rounded-image {
    border-radius: 50%;
    /* Esto hará que la imagen sea redondeada */
    width: 150px;
    /* Ajusta el tamaño de la imagen según lo necesites */
    height: 150px;
    /* Ajusta el tamaño de la imagen según lo necesites */
    object-fit: cover;
    /* Esto asegura que la imagen se ajuste dentro del contenedor redondeado */
}

.socios-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.socios-table th,
.socios-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.socios-table th {
    background-color: #34b234;
    color: #fff;
}

.socios-table tr:hover {
    background-color: #f5f5f5;

}

.socios-table td.actions {
    display: flex;
    justify-content: space-between;
}

.socios-table .edit-btn,
.socios-table .delete-btn,
.cancel-btn,
.add-socio-btn {
    padding: 5px 10px;
    background-color: #ECB932;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;

}

.socios-table .edit-btn:hover,
.socios-table .delete-btn:hover,
.add-socio-btn:hover {
    background-color: #62c562;
}

/* Estilos para el botón verde */
.green-button {
    background-color: #62c562;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

/* Estilos para el botón rojo */
.red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: max-content;
    border-radius: 4px;
}

/* Estilos para el icono de visto */
.visto-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}

.no-visto-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    margin-right: 5px;
}

.search-form {
    position: relative;
    display: inline-block;
    align-items: center;
}

.search-form label {
    margin-right: 5px;
}

.search-form select,
.search-form input[type="text"],
.search-form button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}

.search-form select {
    margin-right: 5px;
}

.search-form button {
    background-color: #ECB932;
    color: #fff;

    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #62c562;
}

.cancel-btn {
    width: 100%;
    background-color: red;
}


.botones-sup {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    border-width: 1px;
    border-color: #000000;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botones_arriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    flex-flow: row wrap;
    border: 1px solid rgb(187, 189, 186);
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 8px rgb(134, 134, 134);
    margin: 5px;
    border-radius: 1%;
    background-color: #34b234;
    overflow-x: auto;
    transform: translate3d(0, 0, 0);
}

.image-header {
    margin-bottom: 20px;
    background-color: #34b234;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
    /* border-color: #0c0b0b;
  border-radius: 2%;
  box-shadow: 0px 4px 8px rgb(134, 134, 134); */
}

h3 {
    font-weight: bold;
    color: white;
}

table {
    margin-top: 20px;
}