body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    background-color: #34b234;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 80px 20px;
}

.header h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.content {
    margin: 20px;
}

.form-container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="number"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-container input[type="submit"] {
    background-color: #34b234;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #62c562;
}

input {
    max-width: 380px;
}

#cancel {
    background-color: #fa3c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}