{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Aquí va el contenido de la página -->
    <div class="content-menu" style="padding-top: 0%;">

        <div class="header">
            <h1>Agregar Proveedor</h1>
        </div>
        <div class="content">
            <div class="form-container">
                <form id="registro-form" action="/registrarproveedor/" method="POST">{% csrf_token %}
                    <label for="nombre">Nombre:</label>
                    <input maxlength="50" type="text" id="nombre" placeholder="Fulanito" name="nombre" required>

                    <label for="telefono">Télefono:</label>
                    <input maxlength="10" type="text" id="telefono" name="telefono" required>

                    <label for="email">RUC:</label>
                    <input maxlength="13" type="text" id="ruc" name="ruc" placeholder="6875645356543" required>

                    <label for="direccion">Dirección:</label>
                    <input type="text" maxlength="100" id="direccion" name="direccion" placeholder="Quevedo" required>

                    <label for="foto">Comisión:</label>
                    <input type="number" step="any" id="comision" name="comision" placeholder="5%" required>

                    <label for="cupo">Cupo:</label>
                    <input type="number" step="any" id="cupo" name="cupo" placeholder="25.00" required>
                    <!--<input type="file" id="foto" name="foto" accept="image/*">-->

                    <label for="foto">Estado:</label>
                    <select name="estado" id="estado" aria-placeholder="seleccione estado">
                        <option value="0">Desabilitado</option>
                        <option value="1">Habilitado</option>
                    </select>


                    <input type="submit" value="Agregar proveedor">

                    <a href="/proveedores"> <input type="button" value="Cancelar"
                        style="background-color: red;"></a>
                </form>
            </div>
        </div>
        <!-- Resto del contenido de la página -->
    </div>
    
    <script>
           var campoNumerico = document.getElementById("ruc");
        campoNumerico.addEventListener("input", function() {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 13);
        });
        campoNumerico = document.getElementById("telefono");
        campoNumerico.addEventListener("input", function() {
            this.value = this.value.replace(/[^0-9]/g, "").substring(0, 10);
        });
    </script>
    <script>
        
$(document).ready(function () {
    $('#registro-form').on('submit', function (event) {
        event.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '/registrarproveedor/',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.status === 'error') {
                    Swal.fire({
                        "title": "Falló",
                        "text": response.message,
                        "icon": "warning"
                    })
                } else if (response.status === 'success') {
                    Swal.fire({
                        "title": "Éxito",
                        "text": response.message,
                        "icon": "success"
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            window.location.href = "/proveedores/"
                        }
                    })

                }
            },
            error: function (xhr, errmsg, err) {
                Swal.fire('Error', 'Ocurrió un error al procesar la solicitud.', 'error');
            }
        });
    });
});
    </script>
    {% endblock %}
</body>
</html>