{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<style>
    .body {
        font-size: 14px !important;
    }

    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .botones_arriba {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        flex-flow: row wrap;
        border: 1px solid rgb(187, 189, 186);
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 8px rgb(134, 134, 134);
        margin: 5px;
        border-radius: 1%;
        background-color: #34b234;
    }

    .image-header {
        margin-bottom: 20px;
        background-color: #34b234;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 5px;
        /* border-color: #0c0b0b;
      border-radius: 2%;
      box-shadow: 0px 4px 8px rgb(134, 134, 134); */
    }

    h3 {
        font-weight: bold;
        color: white;
    }
    table{
        margin-top: 20px;
    }
</style>
<!-- Aquí va el contenido de la página -->
<div class="content-menu">
    <div class="socios-content">
        <div class="botones-sup">
            <div class="botones_arriba">

                <div class="header" style="border-radius: 0;">
                    <h3>Proveedores</h3>
                </div>


                <a href="/aggproveedor"> <button class="add-socio-btn"> Agregar Nuevo Proveedor</button></a>
                <div class="search-form">

                    <select id="criterio" name="criterio">
                        <option value="nombres">Nombre</option>
                        <option value="ruc">RUC</option>
                        <option value="telefono">Telefono</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                    <input type="text" id="buscador_input" name="valor" placeholder="Buscar proveedor...">
                    <!-- <button type="submit">Buscar</button> -->

                </div>

                <table class="socios-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Dirección</th>
                            <th>RUC</th>
                            <th>Comisión</th>
                            <th>Cupo</th>
                            <th>Estado</th>
                            <th>Editar</th>
                            <th>Detalles Cupo</th>
                            <th>C. Banco</th>
                        </tr>
                    </thead>
                    <tbody id="proveedor-body">
                        {% for proveedor in proveedores%}
                        <tr>
                            <td>{{proveedor.nombre}}</td>
                            <td>{{proveedor.telefono}}</td>
                            <td>{{proveedor.direccion}}</td>
                            <td>{{proveedor.ruc}}</td>
                            <td>{{proveedor.comision}}%</td>
                            <td>{{proveedor.cupo}}</td>
                            <td>
                                {% if proveedor.estado %}
                                <button class="green-button"
                                    onclick="eliminarProveedor('{{proveedor.id}}','{{proveedor.estado}}')">
                                    <span class="visto-icon"></span>
                                    Activo
                                </button>
                                {% else %}
                                <button class="red-button"
                                    onclick="eliminarProveedor('{{proveedor.id}}','{{proveedor.estado}}')">
                                    <span class="no-visto-icon"> </span>Inactivo
                                </button>
                                {% endif %}

                            </td>
                            <td>

                                <a href="/editProveedor/{{proveedor.id}}">
                                    <button class="edit-btn">
                                        Editar
                                    </button></a>
                                </a>
                            </td>
                            <td>

                                <a href="/verdetallescupo/{{proveedor.id}}">
                                    <button class="edit-btn">
                                        Detalles Cupo
                                    </button></a>
                                </a>
                            </td>
                            <td>

                                <a href='{% url "agregarCuenta" proveedor.id %}'>
                                    <button class="edit-btn">
                                        Cuentas
                                    </button></a>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="pagination-container">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if proveedores.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ proveedores.previous_page_number }}">anterior</a>
                    </li>
                    {% endif %}
                    <li class="pagination-item active">
                        <span style="border-radius: 5px;" class="page-link">{{ proveedores.number }}</span>
                    </li>
                    {% if proveedores.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ proveedores.next_page_number }}">siguiente</a>
                    </li>
                    {% endif %}
                    {% if proveedores.paginator.num_pages > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ proveedores.paginator.num_pages }}">última</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#buscador_input").on("input", function () {
            var query = $(this).val();
            var criterio = document.getElementById('criterio').value;
            console.log(criterio)
            console.log(query)
            $.ajax({
                url: '{% url "search" %}',  // Cambia esto a la URL de tu vista de búsqueda
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',  // Agrega el token CSRF
                    query: query,
                    criterio: criterio
                },
                success: function (data) {  // Verifica los datos devueltos por el servidor
                    $("#proveedor-body").html(data.rendered_table);
                }
            });
        });
    });

    $(document).ready(function () {
        $("#criterio").on("change", function () {
            var criterio = $(this).val();
            $.ajax({
                url: '{% url "search" %}',
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    query: "",
                    criterio: criterio
                },
                success: function (data) {
                    $("#proveedor-body").html(data.rendered_table);
                }
            });
        });
    });

</script>
{% endblock %}

{% endblock %}