{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Aquí va el contenido de la página -->
    <div class="content-menu" style="padding-top: 0%;">

        <div class="header">
            <h1>Agregar evidencia del pago al proveedor {{ pagop.proveedor.nombre }}</h1>
        </div>
        <div class="content">
            <div class="form-container">
                <form method="post" action="{% url 'prop_presagregar_pdf' pagop.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                  
                    <label for="evidencia">Evidencia:</label>
                    <input type="file" id="evidencia" name="evidencia" value="{{ pagop.evidencia }}" required>
                  
                    <input type="submit" value="Guardar">

                    <a href="/listar_pagosp"> <input type="button" value="Cancelar"
                        style="background-color: red;"></a>
                  </form>                     
                </form>
            </div>
        </div>
        <!-- Resto del contenido de la página -->
    </div>
    {% endblock %}
</body>
</html>