{% block content %}
<div class="sidebar">
    <div class="logo">
        <div class="profile-lg">
            <a href="/principal"><img src="{% static 'img/aduteq.png' %} " alt="ADUTEQ Logo"></a>
        </div>

    </div>
    <ul>
        <li><a href="/socios"><img src="{% static 'img/icon-socios.png' %}" alt="Socios" width="30px">&nbsp<span>
                    Socios</span></a></li>
        <li><a href="/proveedores"><img src="{% static 'img/icon-proveedores.png' %} " alt="Proveedores"
                    width="30px">&nbsp<span> Proveedores</span></a></li>
        <li><a href="#"><img src=" {% static 'img/icon-actividades.png' %}" alt="Actividades"
                    width="30px">&nbsp<span> Actividades</span></a></li>
        <li><a href="#"><img src=" {% static 'img/icon-reportes.png' %}" alt="Reportes" width="30px">&nbsp<span>
                    Reportes</span></a></li>
        <li><a href="#"><img src=" {% static 'img/icon-cuenta.png' %} " alt="Cuenta" width="30px">&nbsp<span>
                    Cuenta</span></a></li>
    </ul>
    <div class="profile">
        <img src="{% static 'img/icon-usuarios.png' %}" alt="Foto de perfil">&nbsp
        <span>Usuario</span>
    </div>
</div>
{% endblock %}